.grid {
  box-sizing: border-box;
}

/** grid main */
.grid-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 350px;
  grid-auto-columns: 1fr;
  grid-auto-flow: dense;
  justify-content: center;

  max-width: 1920px;
  width: 100%;

  margin: 0 auto;

  @media screen and (max-width: 1400px) {
    grid-auto-rows: 350px;
  }

  @media screen and (max-width: 1300px) {
    grid-auto-rows: 300px;
  }

  @media screen and (max-width: 968px) {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
  }

  @media screen and (max-width: 576px) {
    grid-auto-rows: 160px;
  }
}

.grid-item {
  width: 100%;
  min-height: 350px;
  height: 100%;
  overflow: hidden;
  position: relative;

  &.disabled-hover {
    cursor: default !important;

    .grid-wrap {
      cursor: default;
    }

    &:hover {
      .grid-wrap {
        transform: scale(1, 1);
      }

      button {
        text-decoration: none;
      }
    }
  }

  &.triangle {
    overflow: visible;

    &:before {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      top: 50%;
      left: -20px;
      z-index: 1;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='22.7988' y='0.373047' width='32' height='32' transform='rotate(45 22.7988 0.373047)' fill='%23F5F5F5'/%3E%3C/svg%3E%0A");
    }
  }

  &:hover {
    .grid-wrap {
      transition: all 0.3s ease;
      transform: scale(1.01, 1.01);
    }

    button {
      text-decoration: underline;
    }
  }

  @media screen and (max-width: 1300px) {
    min-height: 300px;
  }

  @media screen and (max-width: 576px) {
    min-height: 160px;
  }

  /** grid item */
  &.big {
    grid-row: span 2;
    grid-column: span 2;

    .grid-wrap {
      padding: 20px;

      @media screen and (min-width: 1024px) {
        padding: 30px;
      }
    }
  }

  &.small {
    grid-row: span 1;
    grid-column: span 1;
  }

  &.small-long {
    @media screen and (max-width: 576px) {
      grid-column: span 2 !important;
    }
  }

  &.small-long-x {
    display: flex;
    grid-column: span 2 !important;

    .grid-item {
      width: 50%;
    }
  }

  &.small-long-y {
    display: flex;
    flex-direction: column;
    grid-row: span 2 !important;
    grid-column: span 1 !important;

    .grid-item {
      width: 100%;
      height: 50%;
    }
  }

  &.middle-y {
    grid-row: span 2;
    grid-column: span 1;
  }

  &.middle-x {
    grid-row: span 1;
    grid-column: span 2;
  }

  h2 {
    font-size: 24px;
    line-height: 1.2;
    color: $text-color;
    max-width: 580px;

    @media screen and (min-width: 768px) {
      font-size: 30px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 48px;
    }
  }

  h3 {
    font-size: 14px;
    line-height: 1.2;
    color: $text-color;
    text-align: center;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      margin-bottom: 15px;
      font-size: 20px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      margin-bottom: 20px;
    }

    @media screen and (min-width: 1360px) {
      margin-bottom: 30px;
    }
  }

  h4 {
    font-size: 14px;
    line-height: 1.2;
    color: $text-color;
    text-align: center;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      margin-bottom: 15px;
      font-size: 18px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 26px;
      margin-bottom: 20px;
    }

    @media screen and (min-width: 1360px) {
      margin-bottom: 30px;
    }
  }

  h5 {
    font-size: 10px;
    text-align: center;

    @media screen and (min-width: 768px) {
      margin-bottom: 12px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 24px;
    }
  }

  p {
    font-size: 10px;
    line-height: 140%;
    text-align: center;
    color: $text-color;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      margin-bottom: 15px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 16px;
      margin-bottom: 20px;
    }

    @media screen and (min-width: 1360px) {
      margin-bottom: 30px;
    }
  }

  button,
  a {
    font-weight: 700;
    font-size: 8px;
    line-height: 1.3;
    letter-spacing: 1.5px;
    color: $white;
    display: block;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 10px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 12px;
    }
  }
}

.grid-wrap {
  height: 100%;
  transition: all 0.3s ease;
  will-change: transform;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 20px;
  position: relative;
  cursor: pointer;

  @media screen and (min-width: 968px) {
    padding: 20px 30px 0;
  }

  img {
    width: 100%;
    will-change: transform;

    @media screen and (min-width: 1200px) {
      width: auto !important;
    }
  }

  .grid-half {
    height: 50%;
  }

  .btn {
    @media screen and (max-width: 1024px) {
      padding: 8px 16px;
      font-size: 8px;
      line-height: 1;
      height: auto;
    }
  }
}

.abs-img {
  position: absolute;
  bottom: 0;
  right: 0;

  img {
    @media screen and (min-width: 1200px) {
      width: 100% !important;
    }
  }
}

.grid-img {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    @media screen and (min-width: 1200px) {
      width: 100% !important;
    }
  }
}

.abs-btn {
  @media screen and (min-width: 1024px) {
    margin-bottom: 230px !important;
  }
}

.center-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end !important;
}

.center-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start !important;
}

.start-start {
  display: flex;
  align-items: flex-start !important;
  justify-content: flex-start !important;
  flex-direction: column;

  &>* {
    text-align: left !important;
  }
}

.start-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  &>* {
    text-align: left !important;
  }
}

.end-center {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  &>* {
    text-align: right !important;
  }
}

.start-end {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  justify-content: flex-end !important;
}

.mob-row {
  display: flex;
  align-items: center;

  @media screen and (min-width: 576px) {
    flex-direction: column;
  }

  .grid-half {
    width: 50%;

    @media screen and (min-width: 576px) {
      width: 100%;
    }
  }

  .center-center {
    height: 100%;

    @media screen and (min-width: 576px) {
      height: 50%;
    }
  }
}

.statick-section {
  .grid-item {
    &:hover {
      .grid-wrap {
        transition: all 0.3s ease;
        transform: scale(1.01, 1.01);
      }
    }

    &.disabled-hover {
      cursor: default !important;

      .grid-wrap {
        cursor: default;
      }

      &:hover {
        .grid-wrap {
          transform: scale(1, 1);
        }

        button {
          text-decoration: none;
        }
      }
    }
  }

  .grid-item h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.625;
    color: $black;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  @media screen and (min-width: 768px) {
    .grid-item h2 {
      font-size: 37px;
      line-height: 1.08;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1024px) {
    .grid-item h2 {
      font-size: 43px;
    }
  }

  @media screen and (min-width: 1200px) {
    .grid-item h2 {
      font-size: 48px;
    }
  }

  .grid-item h3 {
    font-size: 18px;
  }

  @media screen and (min-width: 768px) {
    .grid-item h3 {
      font-size: 24px;
    }
  }

  .grid-item.middle-x {
    grid-row: span 2;
    grid-column: span 2;

    @media screen and (min-width: 577px) {
      grid-row: span 1;
      grid-column: span 2;
    }
  }

  .order-5 {
    img {
      display: block;
      margin: 0 0 -15px;

      @media screen and (min-width: 1200px) {
        margin: 0 0 -35px;
      }
    }
  }

  .order-6 {
    h4 {
      @media screen and (min-width: 1200px) {
        position: relative;
        bottom: -35px;
      }
    }
  }
}

.statick {
  .grid-item {
    &:hover {
      .grid-wrap {
        transition: all 0.3s ease;
        transform: scale(1.01, 1.01);
      }
    }

    &.disabled-hover {
      cursor: default !important;

      .grid-wrap {
        cursor: default;
      }

      &:hover {
        .grid-wrap {
          transform: scale(1, 1);
        }

        button {
          text-decoration: none;
        }
      }
    }
  }

  h3 {
    font-weight: 900;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    color: $white;
  }

  @media screen and (min-width: 768px) {
    .grid-item h3 {
      font-size: 25px;
      line-height: 1.5;
      margin-top: 53px;
      margin-bottom: 75px;
    }
  }

  @media screen and (min-width: 969px) {
    .grid-item h3 {
      font-size: 28px;
      line-height: 1.5;
      margin-top: 30px;
      margin-bottom: 75px;
    }
  }

  @media screen and (min-width: 1200px) {
    .grid-item h3 {
      font-size: 32px;
      line-height: 1.5;
      margin-top: 53px;
    }
  }

  h5 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
    color: $text-color;
    display: none;
    max-width: 225px;

    @media screen and (min-width: 768px) {
      display: block;
      font-size: 18px;
    }

    @media screen and (min-width: 1024px) {
      font-size: 20px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 24px;
    }
  }

  .grid-wrap {
    justify-content: center;

    @media screen and (min-width: 768px) {
      justify-content: inherit;
    }
  }

  h6 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    color: $text-color;
    margin-bottom: 15px;
  }

  @media screen and (min-width: 768px) {
    .grid-item h6 {
      font-weight: 600;
      font-size: 20px;
      line-height: 1.13;
      margin-bottom: 36px;
      margin-top: 100px;
      color: $black;
    }
  }

  @media screen and (min-width: 969px) {
    .grid-item h6 {
      margin-top: 50px;
      font-size: 25px;
    }
  }

  @media screen and (min-width: 1200px) {
    .grid-item h6 {
      margin-top: 100px;
      font-size: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    .grid-item h4 {
      font-weight: 600;
      font-size: 20px;
      line-height: 1.13;
      color: $text-color;
      margin-top: 26px;
    }
  }

  @media screen and (min-width: 969px) {
    .grid-item h4 {
      margin-top: 0px;
      font-size: 25px;
    }
  }

  @media screen and (min-width: 1200px) {
    .grid-item h4 {
      margin-top: 26px;
      font-size: 30px;
    }
  }

  .order-7 img {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      width: auto;
    }
  }

  .grid-wrap img {
    @media screen and (min-width: 560px) {
      width: auto;
      margin: auto;
    }
  }
}