@for $i from 1 through 20 {
  &.order-#{$i} {
      order: #{$i};
  }
  &.order-lg-#{$i} {
    @media screen and (max-width: 1300px){
      order: #{$i};
    }
  }
  &.order-md-#{$i} {
    @media screen and (max-width: 968px){
      order: #{$i};
    }
  }
  &.order-sm-#{$i} {
    @media screen and (max-width: 576px) {
      order: #{$i};
    }
  }
}
