.mask.js-mask
.mask.js-video-mask


.modal.js-accept-modal.scroll-wrap
	.modal__wrap
		button(type="button").modal__close.js-close-modal
		h3.modal__accept-title Являетесь ли вы специалистом здравоохранения?
		.modal__nav
			a(href="specialists.html").modal__btn да
			button(type="button").modal__btn.js-close-modal нет

.modal.modal_descr.js-form-modal.scroll-wrap#popup_query
	.modal__wrap
		button(type="button").modal__close.js-close-modal
		h3.section-title Задать вопрос
		form(action="#").form
			.form__wrap
				label Имя
				input(type="text")#feedback_name
				label E-mail
				input(type="email")#feedback_email
				label Вопрос
				textarea(type="text")#feedback_message
				label Код с картинки
				.form__code-wrap
					input(type="number").form__number#feedback_captcha
					button(type="button").form__reload-btn
					input(type="number" name="feedback_captcha" maxlength="5")
				button(type="submit").btn.primary.js-valid отправить
