.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;

    &.active {
        display: block;
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 13;
    padding: 15px;
    overflow: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 30px);
    height: auto;
    display: none;
    min-width: 320px;

    &.active {
        display: block;
    }

    &_descr {
        .modal__wrap {
            @media screen and (min-width: 768px) {
                width: 700px;
                max-width: 100%;
            }
        }
    }

    &__wrap {
        position: relative;
        padding: 30px 15px;
        max-width: 540px;
        background-color: #F5F5F5;
        border: 10px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 15px;

        @media screen and (min-width: 768px) {
            padding: 60px 44px 40px;
            border: 20px solid #FFFFFF;
        }
    }

    &__accept-title {
        font-weight: 600;
        font-size: 18px !important;
        line-height: 1.1;
        margin-bottom: 30px;
        color: #332F2F;

        @media screen and (min-width: 768px) {
            font-size: 36px !important;
            margin-bottom: 30px;
        }
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        transition: all 0.3s ease;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='33' height='31' viewBox='0 0 33 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.65824' y1='0.646447' x2='31.6582' y2='30.6464' stroke='%23F05638'/%3E%3Cline x1='0.951134' y1='30.6464' x2='30.9511' y2='0.646447' stroke='%23F05638'/%3E%3C/svg%3E%0A");

        @media screen and (min-width: 768px) {
            top: 30px;
            right: 30px;
            width: 30px;
            height: 30px;
        }

        &:hover {
            transform: rotate(180deg);
        }
    }

    &__nav {
        display: flex;
        justify-content: center;
    }

    &__btn {
        margin: 0 24px;
        font-weight: 700;
        font-size: 12px;
        line-height: 1;
        letter-spacing: 2.4px;
        text-transform: uppercase;
        align-items: center;
        color: #000000;
        background: #FFFFFF;
        border: 1px solid #FFC80A;
        box-sizing: border-box;
        border-radius: 20px;
        padding: 10px 40px;

        &:hover {
            background: #FFC80A;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 12px !important;
        line-height: 1.5;
        color: #332F2F;
        margin-bottom: 20px;
        text-align: left !important;

        span {
            font-weight: 700;
        }

        @media screen and (min-width: 768px) {
            font-size: 16px !important;
        }
    }

    &__descr {
        font-weight: 300 !important;
        font-size: 12px !important;
        line-height: 1.5;
        color: #332F2F;
        text-align: left !important;
    }

    &__info-wrap {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    &__img {
        margin: 0 auto 30px;
        display: flex;
        justify-content: center;
    }

    .drug {
        width: 40%;
        padding: 0 20px;

        &__wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__img {
            margin-bottom: 10px;

            img {
                width: 100%;
            }
        }

        &__title {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #332F2F;
        }

        &__text {
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #332F2F;
        }
    }
}

.form {
    &__wrap {
        width: 100%;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 768px) {}
    }

    label {
        font-weight: 600;
        font-size: 16px;
        color: #332F2F;
        margin-bottom: 10px;
    }

    input {
        height: 52px;
        background: #FFFFFF;
        border: 1px solid #DEE6E8;
        width: 100%;
        margin-bottom: 25px;
        font-weight: 300;
        font-size: 16px;
        color: #332F2F;
        padding: 15px;
    }

    textarea {
        background: #FFFFFF;
        resize: none;
        border: 1px solid #DEE6E8;
        width: 100%;
        margin-bottom: 25px;
        font-weight: 300;
        font-size: 16px;
        color: #332F2F;
        padding: 15px;
        min-height: 160px;
    }

    &__code-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        input {
            margin-bottom: 0 !important;
        }
    }

    &__reload-btn {
        flex: none;
        margin: 0 47px 0 15px;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.999 19.4204C12.5513 19.4204 12.999 18.9727 12.999 18.4204C12.999 17.8681 12.5513 17.4204 11.999 17.4204L11.999 19.4204ZM18.2949 11.1245C18.2949 11.6768 18.7426 12.1245 19.2949 12.1245C19.8472 12.1245 20.2949 11.6768 20.2949 11.1245L18.2949 11.1245ZM11.999 17.4204C8.52183 17.4204 5.70304 14.6016 5.70304 11.1245L3.70304 11.1245C3.70304 15.7062 7.41726 19.4204 11.999 19.4204L11.999 17.4204ZM5.70304 11.1245C5.70304 7.64734 8.52183 4.82855 11.999 4.82855L11.999 2.82855C7.41726 2.82855 3.70304 6.54277 3.70304 11.1245L5.70304 11.1245ZM11.999 4.82855C15.4761 4.82855 18.2949 7.64734 18.2949 11.1245L20.2949 11.1245C20.2949 6.54277 16.5807 2.82855 11.999 2.82855L11.999 4.82855Z' fill='%23332F2F'/%3E%3Cpath d='M10.9311 15.841L13.5106 18.4205L10.9311 21' stroke='%23332F2F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }

    &__number {
        background-color: transparent !important;
    }

    .btn {
        width: 195px;
        height: 40px;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}