.section-results {
  padding: 40px 0;

  @media screen and (min-width: 1024px) {
    padding: 80px 0 40px;
  }

  .section-title {
    font-weight: 500;
    line-height: 1.2;
    font-size: 18px;
    text-align: center;
    color: #332F2F;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      margin-bottom: 60px;
      font-size: 24px;
    }
  }
}

.results-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -18px;
}

.results {
  width: 50%;
  padding: 0 18px;
  margin-bottom: 40px;
  @media screen and (min-width: 1024px) {
    width: 24%;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    width: 134px;
    margin: 0 auto 30px;

    img {
      width: 100%;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: #332F2F;
  }

  &__sub {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    color: #008996;
  }
}