section.section-results
	.container
		h2.section-title.center Клинические результаты применения препарата Эргоферон подтверждены в исследованиях высокого качества, а также в условиях рутинной практики врача
		.results-wrap
			.results
				.results__wrap
					.results__img
						img(src="images/results-img1.png", alt="")
					p.results__text Средняя длительность лихорадки (< 37,2 °C) при лечении препаратом Эргоферон 
						span.results__sub 2,61 ± 1,54 дня
			.results
				.results__wrap
					.results__img
						img(src="images/results-img2.png", alt="")
					p.results__text Доля пациентов с ухудшением течения заболевания на фоне лечения препаратом Эргоферон 
						span.results__sub всего 0,7%
			.results
				.results__wrap
					.results__img
						img(src="images/results-img3.png", alt="")
					p.results__text Эргоферон использовался в монотерапии ОРВИ и гриппа 
						span.results__sub в 49% случаев
			.results
				.results__wrap
					.results__img
						img(src="images/results-img4.png", alt="")
					p.results__text Оценили терапию Эргофероном как эффективную 
						span.results__sub 98,9% врачей