section.instruct-section
	.container
		.instruct(style="background-color: #F8F9FB;")
			.instruct__img
				img(src="images/tablet.svg", alt="")
			.instruct__content
				h3.instruct__title На один прием — 1 таблетка
				p.instruct__text Таблетку следует держать во рту, не проглатывая, до полного растворения
		.instruct(style="background-color: #8F76BC;")
			.instruct__img
				img(src="images/spoon.png", alt="")
			.instruct__content
				h3.instruct__title(style="color: #FFFFFF;") Для детей младшего возраста
				p.instruct__text(style="color: #FFFFFF;") Детям от 6 месяцев до 3 лет рекомендуется растворять таблетку в небольшом количестве (1 столовая ложка) кипяченой воды комнатной температуры
