.instruct-section {
  .container {
    display: flex;
    flex-direction: column;
    padding: 0;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
}

.instruct {
  width: 100%;
  display: flex;
  min-height: 160px;
  overflow: hidden;

  &:nth-child(1) {
    @media screen and (min-width: 1200px) {
      padding-left: 55px;
    }
  }

  &:nth-child(2) {
    img {
      bottom: -22px;
      left: 60%;
      width: 190px;
      position: absolute;
      transform: translateX(-58%);

      @media screen and (min-width: 1200px) {
        width: 300px;
        bottom: -32px;
        left: 50%;
      }
    }
  }

  @media screen and (min-width: 768px) {
    width: 50%;
  }

  &__img {
    display: flex;
    align-items: center;
    width: 25%;
    flex: none;
    position: relative;

    @media screen and (min-width: 1024px) {
      width: 30%;
    }

    img {
      width: 120%;

      @media screen and (min-width: 768px) {
        width: 100%;
      }
    }
  }

  &__content {
    padding: 23px 19px 23px 23px;
    max-width: 370px;

    @media screen and (min-width: 1024px) {
      padding: 50px 50px 50px 0;
    }
  }

  &__title {
    font-weight: 600;
    line-height: 1.13;
    color: $black;
    margin-bottom: 14px;
    font-size: 14px;

    @media screen and (min-width: 768px) {
      font-size: 30px;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.5;
    color: $text-color;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }
}