.btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $black;
  border-radius: 20px;
  padding: 10px 40px;
  height: 35px;

  &.primary {
    background: $btn-color;
    border: 1px solid $btn-color;

    &:hover {
      background-color: transparent;
      color: $text-color;
      border: 1px solid $text-color;
      box-sizing: border-box;
      border-radius: 20px;
    }
  }

  &.secondary {
    background-color: transparent;
    color: $text-color;
    border: 1px solid $text-color;
    box-sizing: border-box;
    border-radius: 20px;

    &:hover {
      border: 1px solid $btn-color;
      background: $btn-color;
    }
  }
}

.btn-wrap {
  display: flex;
  justify-content: center;
}

.download-link {
  font-weight: 700;
  font-size: 12px;
  line-height: 0.9;
  text-align: center;
  letter-spacing: 3px;
  color: $btntext-color;
  margin-top: 50px;
  border-bottom: 1px solid $btntext-color;

  &:hover {
    border-bottom: 1px solid transparent;
  }

  @media screen and (min-width: 1024px) {
    margin-top: 60px;
  }
}

.expert-btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 3px;
  color: $btntext-color;
  position: relative;
  padding-right: 15px;

  &:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 9px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    background-repeat: no-repeat;
    background-image: url("../images/arr-r.svg");
  }

  &:hover {
    &:after {
      right: -5px;
    }
  }
}