section.scheme-section
	.container
		h2.section-title Схема приема
		h3.scheme-subtitle Средняя продолжительность курса составляет 5 дней
		.scheme-img
			img(src="images/scheme-img.svg", alt="")
		.scheme-wrap
			.scheme
				.scheme__wrap
					span.scheme__title первые сутки
					span.scheme__subtitle 5
					span.scheme__text таблеток
						br
						| в первые 2 часа
					p.scheme__subtext Каждые 30 минут
			.scheme
				.scheme__wrap
					span.scheme__title первые сутки
					span.scheme__subtitle 3
					span.scheme__text таблеток
						br
						| в первые 2 часа
					p.scheme__subtext Через равные промежутки времени
			.scheme
				.scheme__wrap
					span.scheme__title со 2-го дня до выздоровления
					span.scheme__subtitle 3
					span.scheme__text таблетки
						br
						| в сутки
					p.scheme__subtext Утром, днем и вечером

						
			
					