.scheme-section {
  padding: 40px 0 40px;
  background: $btntext-color;

  @media screen and (min-width: 1024px) {
    padding: 45px 0 78px;
  }

  .section-title {
    color: $white;
    text-align: center;
    margin: 0 0 20px;
    @media screen and (min-width: 768px) {
      text-align: left;
      margin-bottom: 15px;
    }
  }
}
.scheme-subtitle {
  font-weight: 300;
  font-size: 14px;
  line-height: 1;
  color: $white;
  margin-bottom: 25px;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    margin-bottom: 50px;
    text-align: left;
  }
}
.scheme-img {
  display: none;
  width: 100%;
  margin-bottom: 36px;

  @media screen and (min-width: 768px) {
    display: block;
  }

  img {
    width: 100%;
  }
}

.scheme-wrap {
  display: flex;
  flex-wrap: wrap;
  min-height: 170px;
  margin: 0 -10px 10px;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
    flex-direction: row;
    padding: 0 20px;
  }
}
.scheme {
  padding: 0 10px;

  &:nth-child(1) {
    flex: none;
    width: 100%;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      width: 20%;
      margin-bottom: 0;
    }
  }
  &:nth-child(2) {
    flex: none;
    width: 100%;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      width: 20%;
      margin-bottom: 0;
    }
  }
  &:nth-child(3) {
    flex: none;
    width: 100%;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      width: 60%;
      margin-bottom: 0;
    }
  }

  &__wrap {
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background-color: $scheme-bgcard;
    margin: 0;
    min-height: 140px;

    @media screen and (min-width: 1024px) {
      padding: 15px;
      margin: 0 15px;
      min-height: 170px;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: $white;
    margin: 0 auto 8px;

    @media screen and (min-width: 768px) {
      font-size: 18px;
      margin: 0 auto 14px;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 30px;
    line-height: 0.31;
    text-align: center;
    color: $black;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      font-size: 58px;
    }
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    color: $black;
  }

  &__subtext {
    font-weight: 300;
    font-size: 10px;
    line-height: 1.2;
    text-align: center;
    color: $black;
  }
}
