extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main 
		section.none-section
			.container
				h2.main-title Произошла ошибка
				.none-section__img
					img(src="images/404.png", alt="")
				p.none-section__info Извините, такая страница не найдена, 
					br
					| предлагаем перейти на главную страницу или воспользоваться меню сайта.
				.btn-wrap
					a(href="index.html").btn.secondary Перейти на главную

block footer
	include ../blocks/footer/footer
