extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		.grid-main.statick-section
			.grid-item.middle-x.order-1.disabled-hover
				.grid-wrap.start-start(style="background-color: #FFFFFF;")
					h2 Эргоферон
					h3(style="max-width: 350px;") лечение гриппа и ОРВИ в полном объеме для всей семьи
					.abs-img
						img(src="images/intro2.png", alt="" style="width: 70% !important; display: block; margin: 0 auto;")

			.grid-item.small.order-2
				.grid-wrap.center-bottom(style="background-image: url('images/b1.jpg');")
					h4(style="color: #FFFFFF; margin-bottom: 0;") Борьба
						br
						| с вирусами

			.grid-item.small.order-3
				.grid-wrap.center-center(style="background-color: #F05638;")
					h4(style="color: #FFFFFF; margin-bottom: 10px;") Укрепление
						br
						| иммунитета
					img(src="images/shield.png", alt="" style="width: 50% !important; display: block;")

			.grid-item.small-long-x.order-4.js-open-descr
				.grid-item(style="background-color: #88D4D6;")
					.grid-wrap.center-center
						img(src="images/hailer2.png", alt="" style="width: 70% !important; display: block;")
					
				.grid-item(style="background-color: #88D4D6;")
					.grid-wrap.center-center
						h4 Рекомендуют
							br
							| специалисты
						button(type="button" style="color: #FFFFFF;") ПОДРОБНЕЕ >
				.modal.modal_descr.js-descr-modal.scroll-wrap
					.modal__wrap
						button(type="button").modal__close.js-close-modal
						h3.modal__accept-title Усиленное противовирусное действие
						p.modal__text
							span Эргоферон® 
							| активирует важнейшие механизмы иммунной защиты:
						.modal__info-wrap
							.drug
								.drug__wrap
									.drug__img
										img(src="images/v1.png", alt="")
									span.drug__title Т-лимфоциты
									p.drug__text отвечают за узнавание чужеродных агентов (вирусы, бактерии)
							.drug
								.drug__wrap
									.drug__img
										img(src="images/v2.png", alt="")
									span.drug__title Интерфероны
									p.drug__text защищают клетки от вирусов

			.grid-item.small.order-5(style="background-color: #FFC80A;")
				.grid-wrap.center-center
					img(src="images/sh1.png", alt="" style="width: 120% !important;")
					h4(style="margin: 0px;") Облегчение
						br
						| симптомов
			
			.grid-item.small.order-6(style="background-color: #8F76BC;")
				.grid-wrap.center-center
					img(src="images/ch2.png", alt="" style="width: 70% !important;")
					h4(style="color: #FFFFFF; margin: 0;") Защита
						br 
						| от осложнений

		include ../blocks/section-consumer/section-consumer
		include ../blocks/section-action/section-action

		.grid-main.statick
			.grid-item.small.order-1.disabled-hover
				.grid-wrap.center-center(style="background-color: #88D4D6;")
					h3(style="color: #FFFFFF;") Доступный
					h5 Отпускается
						br
						| без рецепта
			.grid-item.small.order-2
				.grid-wrap.center-center(style="background-color: #FFC80A;")
					h3(style="color: #FFFFFF;") Приятный
					h5(style="margin: -18px 0 0") Приятный вкус 
						br
						| Не требует
						br
						| запивания водой
			.grid-item.small.order-3
				.grid-wrap.center-center(style="background-color: #F05638;")
					h3(style="color: #FFFFFF;") Выгодный
					h5 Упаковка
						br
						| на курс лечения 
			.grid-item.small.order-4
				.grid-wrap.center-center(style="background-color: #448CDA;")
					h3(style="color: #FFFFFF;") Удобный
					h5 Можно взять с
						br
						| собой
			.grid-item.middle-x.order-5
				.grid-wrap.center-center(style="background-color: #93B6B7;")
					img(src="images/e2.png", alt="")
			.grid-item.small.order-6.triangle
				.grid-wrap.center-center(style="background-color: #F5F5F5;")
					h6 Инструкция
					a(href="#" style="color: #000000;").btn.primary посмотреть
			.grid-item.small.order-7
				.grid-wrap.center-center(style="background-color: #FFC80A;")
					h4 Где купить?
					a(href="#") ПОДРОБНЕЕ >
					img(src="images/s1.png", alt="")

		include ../blocks/section-purpose/section-purpose
		include ../blocks/section-scheme/section-scheme
		include ../blocks/section-instruction/section-instruction

block footer
	include ../blocks/footer/footer