extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main 
		section.list-section
			.container
				h1.main-title Статьи
				.articles-container
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art8.jpg')")
							.article__info
								h2.article__name Особенности осеннего гриппа
								span.article__date 20 июня 2020
					a(href="articles.html").article.not-img
						.article__wrap
							.article__info
								h2.article__name Лечение и профилактика гриппа
								p.article__descr Профилактика гриппа — это меры по предупреждению болезни, а вовсе не лечению.
								span.article__date 20 июня 2020
					a(href="articles.html").article
						.article__wrap(style="background-color: #93B6B7;")
							.article__img(style="background-image: url('images/art9.png')")
							.article__info
								h2.article__name Средство от ОРВИ. Эргоферон
								span.article__date 20 июня 2020
					a(href="articles.html").article.not-img
						.article__wrap(style="background-color: #FFC80A;")
							.article__info
								h2.article__name Профилактика ОРВИ
								p.article__descr В нашем «общественном сознании» грипп, ОРВИ и ОРЗ считаются практически «родственниками».
								span.article__date 20 июня 2020
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art5.jpg')")
							.article__info
								h2.article__name Особенности осеннего гриппа
								span.article__date 20 июня 2020
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art1.jpg')")
							.article__info
								h2.article__name Особенности осеннего гриппа
								span.article__date 20 июня 2020
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art1.jpg')")
							.article__info
								h2.article__name Особенности осеннего гриппа
								span.article__date 20 июня 2020
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art1.jpg')")
							.article__info
								h2.article__name Особенности осеннего гриппа
								span.article__date 20 июня 2020
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art1.jpg')")
							.article__info
								h2.article__name Особенности осеннего гриппа
								span.article__date 20 июня 2020
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art1.jpg')")
							.article__info
								h2.article__name Особенности осеннего гриппа
								span.article__date 20 июня 2020
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art1.jpg')")
							.article__info
								h2.article__name Особенности осеннего гриппа
								span.article__date 20 июня 2020
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art1.jpg')")
							.article__info
								h2.article__name Особенности осеннего гриппа
								span.article__date 20 июня 2020
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art1.jpg')")
							.article__info
								h2.article__name Особенности осеннего гриппа
								span.article__date 20 июня 2020
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art1.jpg')")
							.article__info
								h2.article__name Особенности осеннего гриппа
								span.article__date 20 июня 2020
					a(href="articles.html").article.not-img
						.article__wrap
							.article__info
								h2.article__name Особенности осеннего гриппа
								p.article__descr В нашем «общественном сознании» грипп, ОРВИ и ОРЗ считаются практически «родственниками».
								span.article__date 20 июня 2020
				.btn-wrap
					button(type="button").order-btn.js-more-btn СМОТРЕТЬ ЕЩЁ
block footer
	include ../blocks/footer/footer