extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.article-section
			.container
				article.article-item
					h2.main-title Эргоферон: применение для детей
					.article-item__img
						img(src="images/child.jpg", alt="")
					.article-item__content
						.article-item__wrap
							p.article-item__text Применение 
								a(href="#") Эргоферона 
								| Эргоферона для детей, как и любого лекарственного препарата при лечении гриппа — полностью прерогатива врача, и только его. Пожалуй, этот тезис настолько важен, что его стоит повторить еще раз, только другими словами!
							p.article-item__text Описание любого лекарственного препарата, показания к использованию, инструкция по его применению, и по применению Эргоферона в том числе – это «альфа и омега», «пароль и отзыв», которые врач должен знать «назубок». Да и пациентам это знание не помешает. Однако сперва...
							
							a(href="#").article
								.article__wrap(style="background-color: #93B6B7;")
									.article__img(style="background-image: url('images/ergo-img.png')")
									.article__info
										h2.article__name Средство от ОРВИ. Эргоферон
										span.article__date 20 июня 2020

							h4.article-item__title Инструкция «Как простудиться»
							p.article-item__text Кто-то спросит — к чему подобные «инструкции», если и без инструкций все понятно? И все-таки, прежде чем приступать к описаниям и показаниям лекарственных препаратов — начнем с самого начала. Описание картины первой. Ребенок попросту замерз. Действительно, «отзыв» его организма в виде простуды может не заставить себя ждать. Описание картины второй. Однако «прямое» переохлаждение организма — увы, не единственная ситуация, которая может потребовать поиска лекарственных средств. Ребенок переутомлен, хронически не высыпается, и это «отличное» средство ослабить его иммунитет. Так что и здесь «отзыв» в виде ОРВИ или гриппа может «поступить» довольно быстро. Картина третья. В помещениях редко проветривают, не проводят влажную уборку, от ребенка не требуют соблюдения правил личной гигиены – еще одна ситуация, которая может стать показанием к скорому применению Эргоферона или других лекарственных препаратов. Уже можно приступать? Опять-таки, не спешите. 
							ul
								li Инструкция «Как простудиться» Инструкция «Как простудиться» Инструкция «Как простудиться» Инструкция «Как простудиться» Инструкция «Как простудиться» Инструкция «Как простудиться» Инструкция «Как простудиться»
								li Инструкция «Как простудиться»
								li Инструкция «Как простудиться»
							h4.article-item__title Инструкция «Как лечить простуду»
							p.article-item__text Кажется, ребенок все-таки заболел. Показания градусника резко пошли вверх, кашель, насморк — описание симптомов известное. Пора, пора слушать советы и инструкции друзей и знакомых, их многочисленные отзывы на лекарственные препараты и народные средства, «красочные описания» того, как быстро они помогли... Применение Эргоферона, как и любого лекарственного препарата при лечении гриппа – полностью прерогатива врача, и только его. Пожалуй, этот тезис настолько важен, что его стоит повторить еще раз, только другими словами! Необходимость применения Эргоферона, как и других лекарственных препаратов, определяет только врач. Которому для этого потребуется не только личный осмотр заболевшего ребенка или взрослого, а не одно лишь «словесное описание» симптомов. Но и, возможно, проведение дополнительных анализов. Только в этом случае можно быть уверенным, что «показания сняты» верно, точный диагноз установлен, и, стало быть, будут назначены те лекарственные препараты и средства лечения, которые окажутся эффективными именно в данном конкретном случае. Возможно, в качестве средства лечения врач будет рекомендовать препарат Эргоферон, показанием к применению которого является наличие у пациента респираторной вирусной инфекции. По инструкции, этот современный противовирусный препарат разработан специально для борьбы с различными видами вирусов ОРВИ и гриппа. Одновременно применение Эргоферона у детей и взрослых может способствовать уменьшению воспаления, ослаблению всех основных симптомов простудного заболевания и активизации собственных защитных ресурсов организма. Согласно инструкции препарата, применение Эргоферона у детей разрешено с возраста 6 месяцев.
							h4.article-item__title Инструкция «Как не простужаться»
							p.article-item__text Пароль «Простуда» - отзыв «Профилактика». Именно так и можно коротко сформулировать эту инструкцию. «Шагов» в этой инструкции — довольно много. Что важно — совершать эти шаги надо постоянно, а не «от случая к случаю». Но, на самом-то деле — ничего сверхъестественного не требуется, и все необходимые средства — в прямом смысле слова под рукой. Так что, как говорится — справится даже ребенок. Естественно, под наблюдением ответственных взрослых! Ежедневные прогулки. Естественно, кислород необходим всегда, вдобавок, и шансов подхватить инфекцию на свежем воздухе куда меньше, нежели в душном помещении. Полноценный сон и разнообразное питание, снабжающее иммунитет необходимыми витаминами и микроэлементами. Особых показаний к приему не требуют. Гигиена труда и отдыха: регулярное проветривание помещений, влажная уборка, чистые руки и нос – то, что нужно, чтобы избавить себя и близких от «засилья» вирусов. Физкультура и спорт, закаливающие процедуры – обязательно найдутся те, что подойдут и взрослому, и ребенку, а о пользе их даже и напоминать как-то неловко. Добавим сюда хорошее настроение, которое непременно появится у того, кто регулярно выполняет все пункты инструкции и...  увидим, что ничего сложного и в самом деле нет! И «отзыв» организма в виде крепкой «брони» перед простудными хворями — появится практически сам собой!
							ol
								li Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam perspiciatis reiciendis sunt ipsa nihil, ex nam itaque iste consectetur facilis.
								li Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, molestias?
								li Lorem ipsum dolor sit amet.
						
						a(href="#").article
							.article__wrap(style="background-color: #93B6B7;")
								.article__img(style="background-image: url('images/ergo-img.png')")
								.article__info
									h2.article__name Средство от ОРВИ. Эргоферон
									span.article__date 20 июня 2020
				
		section.articles-section
			.container
				h2.section-title.center Похожие статьи
				.articles-wrap
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art1.jpg')")
							.article__info
								h2.article__name Особенности осеннего гриппа
								span.article__date 20 июня 2020
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art1.jpg')")
							.article__info
								h2.article__name Лечение гриппа у детей
								span.article__date 20 июня 2020
					a(href="articles.html").article
						.article__wrap
							.article__img(style="background-image: url('images/art1.jpg')")
							.article__info
								h2.article__name Лечение гриппа у детей
								span.article__date 20 июня 2020

block footer
	include ../blocks/footer/footer