extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main 
		.grid-main
			.grid-item.big.order-1
				.grid-wrap.start-start(style="background-image: url('images/grid2.jpg')")
					h2(style="color: #FFFFFF;") Грипп? ОРВИ? Сезон? Эргоферон!
					.abs-img
						img(src="images/intro2.png", alt="" style="width: 70%; display: block; margin: 0 auto;")
			
			.grid-item.small.order-2.js-open-descr(style="background-color: #FFC80A;")
				.grid-wrap.center-center
					.grid-half.center-center
						img(src="images/house.png", alt="" style="width: 70%;")
					.grid-half.center-center
						h4 Подходит для всей семьи
						button(type="button") ПОДРОБНЕЕ >

			.grid-item.small.order-3.js-open-descr(style="background-color: #448CDA;")
				.grid-wrap.mob-row
					.grid-half.center-center
						h4(style="color: #FFFFFF;") Снижает выраженность симптомов простуды
						button(type="button" style="color: #FFC80A; margin: 0;") ПОДРОБНЕЕ >
					.grid-half.center-center
						img(src="images/thermometer.png", alt="" style="width: 70%;")
			
			.grid-item.small.order-4(style="background-color: #F5F5F5;")
				.grid-wrap.center-center
					h3 Инструкция
					a(href="#").btn.primary посмотреть

			.grid-item.small.order-5.js-open-descr(style="background-color: #F05638;")
				.grid-wrap.center-center
					h4(style="color: #FFFFFF;") Усиленное противовирусное действие
					button(type="button" style="color: #FFC80A; margin-bottom: 0;") ПОДРОБНЕЕ >
			
			.grid-item.small-long-y.order-6.js-open-descr(style="background-color: #448CDA;")
				.grid-item
					.grid-wrap.center-center
						h3(style="color: #FFFFFF;") Снижает выраженность симптомов простуды
						button(type="button" style="color: #FFC80A; margin: 0;") ПОДРОБНЕЕ >
				.grid-item
					.grid-wrap.center-center
						img(src="images/thermometer.png", alt="" style="width: 70%;")

			.grid-item.small-long-x.order-7.js-open-descr
				.grid-item(style="background-color: #88D4D6;")
					.grid-wrap.center-center
						img(src="images/hailer.png", alt="" style="width: 70%;")
					
				.grid-item(style="background-color: #88D4D6;")
					.grid-wrap.center-center
						h3 Рекомендуют специалисты
						button(type="button" style="margin: 0 auto") ПОДРОБНЕЕ >
			
			.grid-item.small-long-y.order-8.js-open-descr
				.grid-wrap.center-center(style="background-color: #F05638;")
					h3(style="color: #FFFFFF;") Усиленное противовирусное действие
					button(type="button" style="color: #FFC80A; margin: 0;") ПОДРОБНЕЕ >
			
			.grid-item.big.order-9
				.grid-wrap.start-end(style="background-image: url('images/family.jpg');")
					h2(style="color: #FFFFFF;") Защищает от развития осложнений
			
			.grid-item.small-long-y.order-10.js-open-descr
				.grid-item(style="background-color: #8F76BC;")
					.grid-wrap.center-center
						img(src="images/dummy.png", alt="" style="width: 70%;")
				.grid-item(style="background-color: #8F76BC;")
					.grid-wrap.center-center
						h3(style="color: #FFFFFF;") Подходит для детей с 6 месяцев
						button(type="button" style="margin: 0 auto;") ПОДРОБНЕЕ >

			.grid-item.small-long-y.order-11.js-open-descr
				.grid-item(style="background-color: #F5F5F5;")
					.grid-wrap.center-center
						h3 Выгодное решение!
						p Одной упаковки хватает на полный курс лечения
				.grid-item(style="background-color: #F5F5F5;")
					.grid-wrap.center-center
						img(src="images/pig.png", alt="" style="width: 70%;")

			.grid-item.small.order-12.js-open-descr(style="background-color: #F5F5F5;")
				.grid-wrap.center-center
					.grid-half.center-center
						img(src="images/shield.png", alt="" style="width: 55% !important;")
					.grid-half.center-center
						h4 Благоприятный профиль безопасности
						button(type="button" style="color: #57B9BB;") ПОДРОБНЕЕ >

			.grid-item.small.order-13.js-open-descr
				.grid-item(style="background-color: #88D4D6;")
					.grid-wrap.center-center
						h3 Рекомендуют специалисты
						button(type="button" style="margin: 0 auto") ПОДРОБНЕЕ >

block footer
	include ../blocks/footer/footer