extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main 
		.grid-main
			.grid-item.small.order-1.js-open-descr(style="background-color: #F05638;")
				.grid-wrap.center-center
					h4(style="color: #FFFFFF;") Уменьшает отек и насморк
					button(type="button" style="color: #FFC80A; margin-bottom: 0;") ПОДРОБНЕЕ >

			.grid-item.big.order-2
				.grid-wrap.start-start(style="background-image: url('images/grid2.jpg')")
					h2(style="color: #FFFFFF;") Грипп? ОРВИ? Сезон? Эргоферон!
					.abs-img
						img(src="images/intro2.png", alt="" style="width: 70%; display: block; margin: 0 auto;")
			
			.grid-item.small.order-3.js-open-descr(style="background-color: #88D4D6;")
				.grid-wrap.center-center
					.grid-half.center-center
						img(src="images/hailer.png", alt="" style="width: 60% !important;")
					.grid-half.center-center
						h4 Рекомендуют специалисты
						button(type="button" style="margin: 0 auto") ПОДРОБНЕЕ >

			.grid-item.small.order-4.js-open-descr(style="background-color: #448CDA;")
				.grid-wrap.center-center
					h4(style="color: #FFFFFF;") Усиленное противовирусное действие
					button(type="button" style="color: #FFC80A; margin-bottom: 0;") ПОДРОБНЕЕ >

			.grid-item.small.order-5(style="background-color: #F5F5F5;")
				.grid-wrap.center-center
					h3 Инструкция
					a(href="#").btn.primary посмотреть

			.grid-item.small.order-6.js-open-descr(style="background-color: #88D4D6;")
				.grid-wrap.center-center
					.grid-half.center-center
						img(src="images/house.png", alt="" style="width: 70%;")
					.grid-half.center-center
						h4 Подходит для всей семьи
						button(type="button") ПОДРОБНЕЕ >

			.grid-item.small.order-7.js-open-descr(style="background-color: #F05638;")
				.grid-wrap.center-center
					h4(style="color: #FFFFFF;") Усиленное противовирусное действие
					button(type="button" style="color: #FFC80A; margin-bottom: 0;") ПОДРОБНЕЕ >
			
			.grid-item.small-long-y.order-8.js-open-descr
				.grid-item(style="background-color: #FFC80A;")
					.grid-wrap.center-center
						img(src="images/like.png", alt="" style="width: 70%;")
				.grid-item(style="background-color: #FFC80A;")
					.grid-wrap.center-center(style="padding-bottom: 0;")
						h3 Народная марка № 1.
						p Выбор потребителей!
						button(type="button" style="color: #FFFFFF; margin: 0;") ПОДРОБНЕЕ >

			.grid-item.small-long-y.order-9.js-open-descr
				.grid-item(style="background-color: #448CDA;")
					.grid-wrap.center-center
						h3(style="color: #FFFFFF;") Укрепляет иммунитет 
						button(type="button" style="color: #FFC80A; margin: 0;") ПОДРОБНЕЕ >
				.grid-item(style="background-color: #448CDA;")
					.grid-wrap.center-bottom(style="padding-bottom: 0;")
						img(src="images/knight.png", alt="" style="width: 70%;")
			
			.grid-item.big.order-10
				.grid-wrap.start-end(style="background-image: url('images/family.jpg');")
					h2(style="color: #FFFFFF;") Защищает от развития осложнений
			
			.grid-item.small-long-x.order-11.js-open-descr
				.grid-item.order-2.order-lg-1(style="background-color: #8F76BC;")
					.grid-wrap.center-center
						img(src="images/dummy.png", alt="" style="width: 70%; display: block;")
				.grid-item.order-1.order-lg-2(style="background-color: #8F76BC;")
					.grid-wrap.center-center
						h3(style="color: #FFFFFF;") Подходит для детей с 6 месяцев
						button(type="button" style="margin: 0 auto;") ПОДРОБНЕЕ >
			
			.grid-item.small-long-x.order-12
				.grid-item(style="background-color: #F5F5F5;")
					.grid-wrap.center-center
						h4 Выгодное решение!
						p Одной упаковки хватает на полный курс лечения
				.grid-item(style="background-color: #F5F5F5;")
					.grid-wrap.center-center
						img(src="images/pig.png", alt="" style="width: 80%;")
			
			.grid-item.small.order-13.js-open-descr(style="background-color: #F05638;")
				.grid-wrap.center-center
					h4(style="color: #FFFFFF;") Усиленное противовирусное действие
					button(type="button" style="color: #FFC80A; margin-bottom: 0;") ПОДРОБНЕЕ >

			.grid-item.small.order-14.js-open-descr(style="background-color: #F5F5F5;")
				.grid-wrap.center-center
					.grid-half.center-center
						img(src="images/shield.png", alt="" style="width: 55% !important;")
					.grid-half.center-center
						h4 Благоприятный профиль безопасности
						button(type="button" style="color: #57B9BB;") ПОДРОБНЕЕ >

block footer
	include ../blocks/footer/footer