extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main 
		.grid-main
			.grid-item.big.order-md-1
				.grid-wrap.start-start(style="background-image: url('images/grid2.jpg')")
					h2(style="color: #FFFFFF;") Грипп? ОРВИ? Сезон? Эргоферон!
					.abs-img
						img(src="images/intro2.png", alt="" style="width: 70%; display: block; margin: 0 auto;")

			.grid-item.small.order-md-2.js-open-descr.disabled-hover(style="background-color: #FFC80A;")
				.grid-wrap.center-center
					.grid-half.center-center
						img(src="images/house.png", alt="" style="width: 70%;")
					.grid-half.center-center
						h4 Подходит для всей семьи
						button(type="button").bottom-line ПОДРОБНЕЕ >
				.modal.modal_descr.js-descr-modal.scroll-wrap
					.modal__wrap
						button(type="button").modal__close.js-close-modal
						h3.modal__accept-title Усиленное противовирусное действие
						p.modal__text
							span Эргоферон® 
							| активирует важнейшие механизмы иммунной защиты:
						.modal__info-wrap
							.drug
								.drug__wrap
									.drug__img
										img(src="images/v1.png", alt="")
									span.drug__title Т-лимфоциты
									p.drug__text отвечают за узнавание чужеродных агентов (вирусы, бактерии)
							.drug
								.drug__wrap
									.drug__img
										img(src="images/v2.png", alt="")
									span.drug__title Интерфероны
									p.drug__text защищают клетки от вирусов
						p.modal__text Спектр виновников острых респираторных инфекций, с которыми помогает бороться Эргоферон, довольно широк: вирусы гриппа А и B, парагрипп, аденовирусы, респираторно-синцитиальные вирусы и другие вирусы(*). 
						P.modal__descr * Мустафаев Д.М. Актуальные вопросы лечения острых респираторных вирусных инфекций. Клиницист 2013; 3-4: 109-116.
			
			.grid-item.small.small-long.order-md-5.js-open-descr(style="background-color: #448CDA;")
				.grid-wrap.mob-row
					.grid-half.center-center
						h4(style="color: #FFFFFF;") Снижает выраженность симптомов простуды
						button(type="button" style="color: #FFC80A; margin: 0;") ПОДРОБНЕЕ >
					.grid-half.center-center
						img(src="images/thermometer.png", alt="" style="width: 70%;")
				.modal.modal_descr.js-descr-modal.scroll-wrap
					.modal__wrap
						button(type="button").modal__close.js-close-modal
						h3.modal__accept-title Уменьшает отек и насморк
						.modal__img
							img(src="images/b11.png", alt="")
						p.modal__text
							span Эргоферон® 
							| воздействует на гистаминовые рецепторы. При применении препарата значительно снижается проницаемость капилляров слизистой оболочки носовой полости, а, значит, сокращается и количество отделяемого из носа.
						p.modal__text 3 дня — Средняя продолжительность насморка и заложенности носа на фоне лечения препаратом 
							span Эргоферон®
							| , даже у пациентов с аллергией.
						p.modal__descr Геппе Н.А. и соавт. Терапия. 2017;8(18):63-78
			
			.grid-item.small.order-md-3(style="background-color: #F5F5F5;")
				.grid-wrap.center-center
					h3 Инструкция
					a(href="#").btn.primary посмотреть
			
			.grid-item.small.small-long.order-md-4.js-open-descr(style="background-color: #F05638;")
				.grid-wrap.center-center
					h4(style="color: #FFFFFF;") Усиленное противовирусное действие
					button(type="button" style="color: #FFC80A; margin-bottom: 0;") ПОДРОБНЕЕ >
				.modal.modal_descr.js-descr-modal.scroll-wrap
					.modal__wrap
						button(type="button").modal__close.js-close-modal
						h3.modal__accept-title Усиленное противовирусное действие
						p.modal__text
							span Эргоферон® 
							| активирует важнейшие механизмы иммунной защиты:

			.grid-item.small-long-y.order-md-6.order-6.js-open-descr
				.grid-item(style="background-color: #FFC80A;")
					.grid-wrap.center-center
						img(src="images/like.png", alt="" style="width: 70%;")

				.grid-item(style="background-color: #FFC80A;")
					.grid-wrap.center-center
						h3 Народная марка №1. 
						p Выбор  потребителей!
						button(type="button" style="margin-bottom: 0;") ПОДРОБНЕЕ >
			
			.grid-item.small-long-y.order-md-7.order-7.js-open-descr
				.grid-item(style="background-color: #F05638;")
					.grid-wrap.center-center
						h3(style="color: #FFFFFF;") Укрепляет иммунитет 
						button(type="button" style="color: #FFC80A; margin: 0;") ПОДРОБНЕЕ >

				.grid-item(style="background-color: #F05638;")
					.grid-wrap.center-bottom(style="padding-bottom: 0;")
						img(src="images/knight.png", alt="")
			
			.grid-item.small-long-x.order-md-10.order-8.js-open-descr
				.grid-item(style="background-color: #88D4D6;")
					.grid-wrap.center-center
						img(src="images/hailer.png", alt="" style="width: 70%; display: block;")
					
				.grid-item(style="background-color: #88D4D6;")
					.grid-wrap.center-center
						h3 Рекомендуют специалисты
						button(type="button" style="margin: 0 auto") ПОДРОБНЕЕ >
			
			.grid-item.big.order-md-15.order-10
				.grid-wrap.start-end(style="background-image: url('images/family.jpg');")
					h2(style="color: #FFFFFF;") Защищает от развития осложнений
			
			.grid-item.small-long-x.order-md-13.order-13.js-open-descr
				.grid-item.order-2.order-lg-1(style="background-color: #8F76BC;")
					.grid-wrap.center-center
						img(src="images/dummy.png", alt="" style="width: 70%; display: block;")
				.grid-item.order-1.order-lg-2(style="background-color: #8F76BC;")
					.grid-wrap.center-center
						h3(style="color: #FFFFFF;") Подходит для детей с 6 месяцев
						button(type="button" style="margin: 0 auto;") ПОДРОБНЕЕ >
			
			.grid-item.small-long-x.order-md-16.order-14
				.grid-item(style="background-color: #F5F5F5;")
					.grid-wrap.start-center
						h4 Выгодное решение!
						p Одной упаковки хватает на полный курс лечения

				.grid-item(style="background-color: #F5F5F5;")
					.grid-wrap.center-center
						img(src="images/pig.png", alt="" style="width: 80%;")

			.grid-item.small-long-x.small.order-md-18.order-16.js-open-descr
				.grid-item(style="background-color: #88D4D6;")
					.grid-wrap.center-center
						img(src="images/shield.png", alt="" style="width: 70%;")

				.grid-item(style="background-color: #F5F5F5;")
					.grid-wrap.center-center
						h4 Благоприятный профиль безопасности
						button(type="button" style="color: #57B9BB; margin: 0 auto;") ПОДРОБНЕЕ >
			
		include ../blocks/section-scheme/section-scheme
		include ../blocks/section-instruction/section-instruction
		include ../blocks/section-order/order
		include ../blocks/section-articles/articles
		include ../blocks/section-about/about

block footer
	include ../blocks/footer/footer