extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.tabs-section
			.container
				h2.instruction-title Инструкция
					br
					| по медицинскому применению препарата

				h1.drug-name Эргоферон 
					span ®

				.instruction-text Препарат Эргоферон выпускается в удобной лекарственной форме — таблетки для рассасывания или раствор для приема внутрь.
				
				.tabs.js-tabs
					ul.tabs__list.js-tab-btn
						li.tabs__item.active Таблетки
						li.tabs__item Раствор

					.tabs__content.js-tab-content.active
						p.tabs__content-text 
							span Эргоферон
							| обладает несколькими лечебными эффектами. Первое, самое важное —  противовирусное действие. Второй не менее важный эффект препарата — иммуномодулирующий. Средство мобилизует защитные силы организма для более слаженной и быстрой борьбы с инфекцией, в том числе за счет активного распознавания возбудителя и адекватного иммунного ответа на его вторжение.
						p.tabs__content-text Благодаря противовоспалительному и антигистаминному эффектам 
							span Эргоферон
							| способствует уменьшению выраженности и продолжительности отека слизистых оболочек, бронхоспазма и кашля.
						p.tabs__content-text Может применяться для лечения гриппа и ОРВИ у всех членов семьи — взрослых и детей начиная с 6-месячного возраста.

						.accordion
							.accordion__item
								h3 Лекарственная форма, состав, описание
								.accordion__content
									h4 Торговое название
									p Эргоферон®
									h4 Лекарственная форма
									p Раствор для приема внутрь.
									h4 Состав (на 100 мл) раствора для приема внутрь
									ul
										li Действующие вещества:
										li Антитела к гамма интерферону человека аффинно очищенные 0,12 г*
										li Антитела к гистамину аффинно очищенные 0,12 г*
										li Антитела к CD4 аффинно очищенные 0,12 г*
									p * вводятся в виде смеси трех активных водных разведений субстанции, разведенной соответственно в 10012, 10030, 10050  раз. Вспомогательные вещества: мальтитол 6,0 г, глицерол 3,0 г, сорбат калия 0,165 г, лимонная кислота безводная 0,02 г, вода очищенная до 100 мл.
									h4 Описание
									p Бесцветная или почти бесцветная прозрачная жидкость.
							.accordion__item
								h3 Фармакологические свойства
								.accordion__content
									h4 1
									p 1
							.accordion__item
								h3 Показания к применению
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Противопоказания
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Способ применения и дозы
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Побочное действие
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Передозировка
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Лекарственное взаимодействие
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Особые указания
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Форма выпуска и упаковка
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Условия хранения 
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Срок годности
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Условия отпуска из аптек 
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Адрес для обращений
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Адрес производства
								.accordion__content
									h4 2
									p 2

					.tabs__content.js-tab-content
						p.tabs__content-text 
							span Эргоферон
							| обладает несколькими лечебными эффектами. Первое, самое важное —  противовирусное действие. Второй не менее важный эффект препарата — иммуномодулирующий. Средство мобилизует защитные силы организма для более слаженной и быстрой борьбы с инфекцией, в том числе за счет активного распознавания возбудителя и адекватного иммунного ответа на его вторжение.
						p.tabs__content-text Благодаря противовоспалительному и антигистаминному эффектам 
							span Эргоферон
							| способствует уменьшению выраженности и продолжительности отека слизистых оболочек, бронхоспазма и кашля.
						p.tabs__content-text Может применяться для лечения гриппа и ОРВИ у всех членов семьи — взрослых и детей начиная с 6-месячного возраста.
						.accordion
							.accordion__item
								h3 Лекарственная форма, состав, описание
								.accordion__content
									h4 Торговое название
									p Эргоферон®
									h4 Лекарственная форма
									p Раствор для приема внутрь.
									h4 Состав (на 100 мл) раствора для приема внутрь
									p Действующие вещества:
									p Антитела к гамма интерферону человека аффинно очищенные 0,12 г*
									p Антитела к гистамину аффинно очищенные 0,12 г*
									p Антитела к CD4 аффинно очищенные 0,12 г*
									p * вводятся в виде смеси трех активных водных разведений субстанции, разведенной соответственно в 10012, 10030, 10050  раз. Вспомогательные вещества: мальтитол 6,0 г, глицерол 3,0 г, сорбат калия 0,165 г, лимонная кислота безводная 0,02 г, вода очищенная до 100 мл.
									h4 Описание
									p Бесцветная или почти бесцветная прозрачная жидкость.
							.accordion__item
								h3 Фармакологические свойства
								.accordion__content
									h4 1
									p 1
							.accordion__item
								h3 Показания к применению
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Противопоказания
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Способ применения и дозы
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Побочное действие
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Передозировка
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Лекарственное взаимодействие
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Особые указания
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Форма выпуска и упаковка
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Условия хранения 
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Срок годности
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Условия отпуска из аптек 
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Адрес для обращений
								.accordion__content
									h4 2
									p 2
							.accordion__item
								h3 Адрес производства
								.accordion__content
									h4 2
									p 2
				.btn-wrap
					a(href="#" download).download-link СКАЧАТЬ
								
block footer
	include ../blocks/footer/footer