extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main 
		include ../blocks/section-intro/section-intro
		include ../blocks/section-expert/section-expert
		include ../blocks/section-result/section-result	
		include ../blocks/section-results/section-results	
		include ../blocks/section-product/section-product
		include ../blocks/section-resume/section-resume
		include ../blocks/section-useful/section-useful			
						
block footer
	include ../blocks/footer/footer
