.articles-section {
  padding: 40px 0 37px;
  background-color: $white;

  @media screen and (min-width: 768px) {
    padding: 60px 0 80px;
  }
}

.articles-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 10px;

  @media screen and (min-width: 1024px) {
    margin: 0 -18px 10px;
  }

  .article {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      width: 50%;
      margin-bottom: 35px;
    }

    @media screen and (min-width: 1024px) {
      width: 33.33%;
      padding: 0 18px;
    }
  }
}

.article {
  @media screen and (min-width: 768px) {
    min-height: 356px;
  }

  &.not-img {
    .article__name {
      margin-top: auto;
      line-height: 1.1;

      @media screen and (min-width: 1024px) {
        font-size: 32px !important;
      }
    }
  }

  &:hover {
    .article__wrap {
      box-shadow: 0px 2px 15px #cccccc;
    }
  }

  &__wrap {
    background: $card-bg;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  &__img {
    flex: none;
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-width: 768px) {
      height: 210px;
    }

    @media screen and (min-width: 1024px) {
      height: 250px;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__info {
    padding: 20px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      padding: 20px 30px;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 18px !important;
    line-height: 1.2;
    color: $text-color;
    margin-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    @media screen and (min-width: 768px) {
      font-size: 20px !important;
    }
  }

  &__descr {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: $text-color;
  }

  &__date {
    font-weight: 500;
    font-size: 12px;
    color: $text-colorlight;
    padding-left: 20px;
    position: relative;
    margin-top: auto;
    margin-left: auto;

    &:before {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      background-image: url("../images/clock.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}

#scroll-block {
  // position: fixed;
  bottom: 0;
  right: 0;
  overflow: hidden;
  visibility: hidden;
}