section.articles-section
	.container
		h2.main-title Интересно
		.articles-wrap
			a(href="articles.html").article
				.article__wrap
					.article__img(style="background-image: url('images/art1.jpg')")
					.article__info
						h2.article__name Особенности осеннего гриппа
						span.article__date 20 июня 2020
			a(href="articles.html").article
				.article__wrap
					.article__img(style="background-image: url('images/art1.jpg')")
					.article__info
						h2.article__name Лечение гриппа у детей
						span.article__date 20 июня 2020
			a(href="articles.html").article
				.article__wrap
					.article__img(style="background-image: url('images/art1.jpg')")
					.article__info
						h2.article__name Лечение гриппа у детей
						span.article__date 20 июня 2020
		.btn-wrap
			a(href="articles.html").btn.secondary все статьи