.section-expert {
  padding: 40px 0;

  @media screen and (min-width: 768px) {
    padding: 80px 0;
  }

  .section-title {
    max-width: 700px;
    margin: 0 auto 40px;
    color: #008996;
    font-weight: 500;

    @media screen and (min-width: 768px) {
      margin-bottom: 60px;
    }
  }
}

.expert-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -18px 10px;
}

.expert {
  width: 100%;
  padding: 0 18px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 50%;
  }

  @media screen and (min-width: 1024px) {
    width: 33.33%;
  }

  &__wrap {
    padding: 30px 42px 30px 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
    background: $white;
    border-radius: 10px;

    @media screen and (min-width: 768px) {
      padding: 40px 42px 40px 34px;
    }
  }

  &__img {
    margin-bottom: 24px;

    img {
      width: 100%;
    }
  }

  &__name {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: $black;
    max-width: 254px;
    margin-bottom: 33px;
  }

  &__btn {
    display: flex;
    justify-content: center;
  }

  .download-link {
    margin: 0;
    position: relative;
    padding-right: 15px;
    color: #008996;
    font-weight: 700;
    padding-bottom: 2px;
    &:after {
      content: '';
      position: absolute;
      top: 2px;
      right: 0;
      width: 9px;
      height: 5px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 10 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.08213 4.96767C4.76613 5.02367 4.43013 4.95467 4.18613 4.72567L0.873133 1.62067C0.482133 1.25267 0.482133 0.656671 0.873133 0.289671C1.26613 -0.0783285 1.90113 -0.0783285 2.29313 0.289672L5.08713 2.90767L7.85913 0.307672C8.24913 -0.0583282 8.88313 -0.0583282 9.27413 0.307672C9.66513 0.673672 9.66513 1.26767 9.27413 1.63367L5.97413 4.72667C5.73013 4.95567 5.39613 5.02367 5.08213 4.96767Z' fill='%23008996'/%3E%3C/svg%3E%0A");
    }
  }
}