section.section-expert#expert
		.container
			h2.section-title.center Эргоферон включен в руководства и методические рекомендации
			.expert-wrap
				.expert
					.expert__wrap
						.expert__img
							img(src="images/logo_1.svg", alt="")
						.expert__info
							h3.expert__name Руководство Педиатрического респираторного общества
						.expert__btn
							a(href="#" download).download-link СКАЧАТЬ
				.expert
					.expert__wrap
						.expert__img
							img(src="images/logo_2.svg", alt="")
						.expert__info
							h3.expert__name Клинические рекомендации Национального общества инфекционистов
						.expert__btn
							a(href="#" download).download-link СКАЧАТЬ
				.expert
					.expert__wrap
						.expert__img
							img(src="images/logo_3.svg", alt="")
						.expert__info
							h3.expert__name Методические рекомендации Федерального медико-биологического агенства
						.expert__btn
							a(href="#" download).download-link СКАЧАТЬ