section.section-result
	.container
		h2.section-title.center Результаты опорных исследований
		.expert-result
			.result
				p.result__subtitle Обзор 6-ти клинических исследований с участием 
				span.result__title 1441
				span.result__text пациента
				a(href="#").result__btn читать

			.result
				p.result__subtitle Международная наблюдательная программа с участием
				span.result__title 8000 
				span.result__text пациентов
				a(href="#").result__btn читать