.section-result {
  padding: 40px 0;
  background: rgba(136, 212, 214, 0.2);

  @media screen and (min-width: 1024px) {
    padding: 75px 0 80px;
  }

  .section-title {
    font-weight: 500;
    color: #332F2F;

    @media screen and (min-width: 768px) {
      margin-bottom: 63px;
    }
  }
}

.expert-result {
  display: flex;
  justify-content: space-between;
  max-width: 1046px;
  margin: 0 auto;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    width: 40%;
  }

  &__subtitle {
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    max-width: 326px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: 600;
    color: #332F2F;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }

  &__img {
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
    }
  }

  &__title {
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 36px;
    text-align: center;
    line-height: 1;
    color: #008996;


    @media screen and (min-width: 1024px) {
      font-size: 48px;
      margin-bottom: 5px;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    color: #332F2F;
    margin-bottom: 30px;
  }

  &__btn {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #008996;
    border-bottom: 1px solid #008996;

    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
}