.tabs {
  &__list {
    display: flex;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    @media screen and (min-width: 1024px) {
      margin-bottom: 80px;
    }
    &:after {
      position: absolute;
      content: " ";
      width: 2000px;
      height: 1px;
      background-color: $bg-about;
      left: -100%;
      top: 25px;
      @media screen and (min-width: 1024px) {
        top: 45px;
      }
    }
  }

  &__item {
    width: 50%;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    color: $text-color;
    cursor: pointer;
    padding-bottom: 10px;
    @media screen and (min-width: 1024px) {
      font-size: 18px;
      line-height: 2;
    }

    &.active {
      font-weight: 700;
      font-size: 16px;
      line-height: 1;
      color: $black;
      bottom: 0px;
      z-index: 0;
      overflow: hidden;
      border-bottom: 6.7px solid $border-color;
      @media screen and (min-width: 1024px) {
        font-size: 18px;
        line-height: 2;
      }
    }
  }

  &__content {
    display: none;

    &.active {
      display: block;
    }
  }

  &__content-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    color: $black;
    padding-bottom: 20px;
    @media screen and (min-width: 1024px) {
      font-size: 16px;
      line-height: 1.5;
      padding-bottom: 30px;
    }

    span {
      font-weight: 700;
      padding-right: 5px;
    }
  }
}
