.section-purpose {
  padding: 40px 0 25px;
  background: $white;

  @media screen and (min-width: 1024px) {
    padding: 100px 0 10px;
  }

  .section-title {
    text-align: center;
    margin: 0 0 40px;

    @media screen and (min-width: 768px) {
      text-align: left;
      margin-bottom: 55px;
    }
  }
}

.purpose-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 10px;

  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
}

.purpose {
  width: 100%;
  padding: 0 10px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 50%;
  }

  @media screen and (min-width: 1024px) {
    width: 33.33%;
  }

  &__wrap {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      padding: 25px;
    }
  }

  &__img {
    align-items: center;
    display: flex;
    margin: 0 auto 20px;
  }

  &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: $text-color;
    margin: 0 auto 27px;
    max-width: 224px;

    @media screen and (min-width: 768px) {
      font-size: 22px;
      line-height: 1.27;
      margin: 0 auto 27px;
      max-width: 300px;
    }
  }
}