section.section-purpose
	.container
		h2.section-title Назначение
		.purpose-wrap
			.purpose
				.purpose__wrap
					.purpose__img
						img(src="images/purpose__img1.png", alt="")
					h3.purpose__title Для лечения 
						br
						| острых респираторных вирусных инфекций
			.purpose
				.purpose__wrap
					.purpose__img
						img(src="images/purpose__img2.png", alt="")
					h3.purpose__title Для лечения 
						br
						| гриппа
			.purpose
				.purpose__wrap
					.purpose__img
						img(src="images/purpose__img3.png", alt="")
					h3.purpose__title Для лечения 
						br
						| кишечных инфекций вирусной этиологии
					
					