section.order-section
	.container
		h2.main-title Заказать в интернет-аптеках
		.order-wrap
			.order
				.order__wrap
					a(href="#").order__img
						img(src="images/a2.png", alt="")
					a(href="#").btn.primary Купить
			.order
				.order__wrap
					a(href="#").order__img
						img(src="images/a1.png", alt="")
					a(href="#").btn.primary Купить
			.order
				.order__wrap
					a(href="#").order__img
						img(src="images/a3.png", alt="")
					a(href="#").btn.primary Найти на карте
		.btn-wrap
			button(type="button").order-btn СМОТРЕТЬ ЕЩЁ