.order-section {
  padding: 40px 0 45px;
  margin: 0 auto;
  background-color: $card-bg;

  @media screen and (min-width: 768px) {
    padding: 76px 0 66px;
  }
}

.order-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 15px;

  @media screen and (min-width: 1024px) {
    margin: 0 -18px 10px;
  }
}

.order {
  width: 100%;
  margin: 0 0 15px;
  padding: 0 10px;

  @media screen and (min-width: 768px) {
    width: 50%;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1024px) {
    width: 33.33%;
    padding: 0 18px;
    margin-bottom: 35px;
  }

  &__wrap {
    border-radius: 10px;
    position: relative;
    background-color: $white;
    padding: 50px 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;

    @media screen and (min-width: 768px) {
      padding: 70px 20px 40px;
    }
  }

  &__img {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    height: 60px;

    img {
      width: 59%;
    }
  }
}

.order-btn {
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  color: $text-color;
  position: relative;
  padding-right: 20px;
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px solid $text-color;
  }

  &:after {
    content: "";
    position: absolute;
    width: 14px;
    height: 9px;
    background-size: contain;
    background-position: center;
    background-image: url("../images/shape-dn.svg");
    background-repeat: no-repeat;
    right: 0;
    top: 43%;
    transform: translateY(-50%);
  }
}
