.contact-wrap {
	display: flex;
	align-items: center;
	margin: 0 -36px;
}

.contact {
	display: flex;
	flex-direction: column;
	padding: 0 36px;

	&__title {
		font-weight: 600;
		font-size: 18px;
		color: $white;
		margin-bottom: 10px;
	}

	&__number {
		display: flex;
		align-items: center;
	}

	&__img {
		width: 18px;
		height: 18px;
		margin-right: 8px;
		img {
			width: 100%;
		}
	}

	&__tel {
		font-size: 16px;
		color: $white;
	}
}