section.section-useful
	.container
		h2.section-title.center Полезные материалы
		.useful-wrap
			.useful
				.useful__wrap
					h4.useful__subtitle Емельянова А.Г., Тарасов С.А., Морозов С.Г.
					h3.useful__title Противовоспалительное действие релиз-активных антител к интерферону-гамма, CD4-рецептору и гистамину при респираторно-синцитиальной вирусной инфекции
					.useful__footer
						.useful__date 20 июня 2020
						a(href="#").download-link СКАЧАТЬ
			.useful
				.useful__wrap
					h4.useful__subtitle Спасский А.А., Попова Е.Н., Плоскирева А.А. 
					h3.useful__title Применение препарата эргоферон в лечении ОРВИ и гриппа у взрослых пациентов с различными сопутствующими заболеваниями
					.useful__footer
						.useful__date 20 июня 2020
						a(href="#").download-link СКАЧАТЬ
			.useful
				.useful__wrap
					h4.useful__subtitle Селькова Е.П., Костинов М.П., Барт Б.Я., Аверьянов А.В., Петров Д.В.
					h3.useful__title Лечение острых респираторных вирусных инфекций увзрослых: результаты рандомизированного двойного слепого плацебо-контролируемого клинического исследования
					.useful__footer
						.useful__date 20 июня 2020
						a(href="#").download-link СКАЧАТЬ
			.useful
				.useful__wrap
					h4.useful__subtitle M.P. Kostinov, R. F. Khamitov, A. P. Babkin, E. S. Minina, B. Ya. Bart, M. P. Mikhailusova, M. E. Yanovskaya, A. O. Sherenkov, D. V. Petrov, D. N. Alpenidze, Yu. S. Shapovalova, M. V. Chernogorova,  E. F. Pavlysh, R. T. Sardinov
					h3.useful__title Лечение острой респираторной инфекции у взрослых: результаты многоцентрового рандомизированного двойного слепого плацебо-контролируемого клинического исследования
					.useful__footer
						.useful__date 20 июня 2020
						a(href="#").download-link СКАЧАТЬ
		h3.useful-text Материалы, представленные на данной странице, предназначены исключительно для медицинских специалистов
		p.useful-info 1. Никифоров В.В., Руженцова Т.А. Инфекционные болезни: новости, мнения, обучение. 2019. Т. 8, № 4. С. 84–97.
		p.useful-info 2. Геппе Н.А. и соавт. Терапия. 2017;8(18):63-78