.section-useful {
  padding: 60px 0 80px 0;
  background-color: $white;

  @media screen and (min-width: 1024px) {
    padding: 73px 0 80px 0;
  }

  .section-title {
    margin-bottom: 40px;
    font-weight: 500;
    @media screen and (min-width: 768px) {
      margin-bottom: 60px;
    }
  }

  .useful-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: $black;
    margin-bottom: 50px;

    @media screen and (min-width: 768px) {
      font-size: 32px;
      line-height: 1.375;
    }
  }

  .useful-info {
    font-size: 16px;
    line-height: 1.4;
    color: #332F2F;
  }
}

.useful-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }
}

.useful {
  width: 100%;
  padding: 0 10px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 50%;
  }

  @media screen and (min-width: 1024px) {
    width: 33.33%;
  }

  &__wrap {
    min-height: 290px;
    padding: 20px;
    height: 100%;
    background: $card-bg;
    border-radius: 25px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      padding: 25px;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    color: $text-color;
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      margin-bottom: 30px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    color: $text-color;
    margin: 0 0 30px;

    @media screen and (min-width: 768px) {
      font-size: 22px;
      margin: 0;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: flex-end;
    text-align: end;
    margin: auto 0 0 0;

    @media screen and (min-width: 768px) {
      flex-direction: row-reverse;
    }
  }

  &__date {
    font-weight: 500;
    font-size: 12px;
    color: $text-colorlight;
    padding-left: 20px;
    position: relative;
    margin-top: auto;
    margin-left: 0;

    @media screen and (min-width: 768px) {
      margin-left: auto;
    }

    &:before {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      background-image: url("../images/clock.svg");
      background-repeat: no-repeat;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  .download-link {
    font-size: 10px;

    @media screen and (min-width: 768px) {
      font-size: 12px;
    }
  }
}