header.header
	.container
		a(href="index.html").logo
			img(src="images/logo.svg", alt="logo")
		a(href="#").buy-btn
		.burger-menu.js-nav
			nav.nav
				ul.nav__list
					li.nav__item
						a(href="instruction.html").nav__link.active Инструкция
					li.nav__item
						a(href="articles.html").nav__link Статьи
					li.nav__item
						a(href="about.html").nav__link про Эргоферон
					li.nav__item
						span.nav__link.js-open-accept Специалистам
			a(href="#").btn.primary Купить
		.burger.js-burger
			span
			span
			span