.header {
  padding: 12px 0;
  border-bottom: 1px solid $card-bg;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: $white;
  transition: all .3s ease;

  @media screen and (min-width: 768px) {
    padding: 20px 0;
  }

  @media screen and (min-width: 1024px) {
    padding: 22px 0 23px;
  }

  &.active {
    @media screen and (min-width: 1024px) {
      padding: 10px 0;
    }
  }

  .container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 1200px) {
      padding: 0 30px;
    }
  }

  .burger-menu {
    position: fixed;
    top: 0;
    z-index: 5;
    right: -100%;
    width: 255px;
    height: 100vh;
    z-index: 2;
    transition: all 0.5s ease;
    background-color: $white;
    padding: 15px 20px;
    box-shadow: -7px 0px 12px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 768px) {
      padding-top: 34px;
    }

    @media screen and (min-width: 1024px) {
      width: 100%;
      position: relative;
      top: auto;
      right: auto;
      height: auto;
      background-color: transparent;
      padding: 0;
      box-shadow: none;
      display: flex;
      align-items: center;
      margin: 0 0 0 auto;
    }

    &.active {
      right: 0;
    }
  }

  .nav {
    @media screen and (min-width: 1024px) {
      margin: 0 50px 0 auto;
    }

    @media screen and (min-width: 1024px) {
      margin-right: 78px;
    }

    &__list {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 1024px) {
        flex-direction: row;
        align-items: center;
      }
    }

    &__item {
      margin: 0 0 25px;

      &:last-child {
        margin-right: 0;
      }

      @media screen and (min-width: 1024px) {
        margin: 0 25px 0 0;
      }

      @media screen and (min-width: 1300px) {
        margin-right: 50px;
      }
    }

    &__link {
      font-weight: 700;
      font-size: 12px;
      line-height: 1.25;
      letter-spacing: 2.4px;
      white-space: nowrap;
      color: $text-color;
      text-transform: uppercase;
      cursor: pointer;
      border-bottom: 2px solid transparent;

      @media screen and (min-width: 1024px) {
        font-size: 9px;
      }

      @media screen and (min-width: 1300px) {
        font-size: 12px;
      }

      &.active,
      &:hover {
        color: $hover-text;
        border-bottom: 2px solid $hover-text;
      }
    }
  }

  .logo {
    width: 127px;

    @media screen and (min-width: 768px) {
      width: auto;
    }
  }

  .buy-btn {
    width: 54px;
    height: 32px;
    background-color: $btn-color;
    border-radius: 20px;
    display: block;
    margin: 0 20px 0 auto;
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 18.0035C10.8284 18.0035 11.5 18.6751 11.5 19.5035C11.5 20.3319 10.8284 21.0035 10 21.0035C9.17157 21.0035 8.5 20.3319 8.5 19.5035C8.5 18.6751 9.17157 18.0035 10 18.0035ZM16 18.0035C16.8284 18.0035 17.5 18.6751 17.5 19.5035C17.5 20.3319 16.8284 21.0035 16 21.0035C15.1716 21.0035 14.5 20.3319 14.5 19.5035C14.5 18.6751 15.1716 18.0035 16 18.0035ZM2.75 3H3.11232C4.12075 3 4.99847 3.66948 5.27403 4.62572L5.31431 4.78768L5.358 4.999L21.2488 4.99956C21.7193 4.99956 22.0736 5.42765 21.9856 5.88979L20.3736 14.3596C20.0818 15.8926 18.7416 17.0019 17.181 17.0019L8.81896 17.0022C7.25842 17.0022 5.91814 15.8932 5.62621 14.3602L4.01324 5.88986L3.84631 5.09589C3.7807 4.78337 3.52606 4.55072 3.21712 4.50731L3.11232 4.5H2.75C2.33579 4.5 2 4.16421 2 3.75C2 3.3703 2.28215 3.05651 2.64823 3.00685L2.75 3ZM20.3426 6.49956H5.6563L7.09974 14.0796C7.25692 14.905 7.97862 15.5022 8.8189 15.5022L17.181 15.5019C18.0213 15.5019 18.743 14.9046 18.9001 14.0791L20.3426 6.49956Z' fill='%23212121'/%3E%3C/svg%3E%0A");

    @media screen and (min-width: 768px) {
      width: 64px;
      height: 40px;
      margin-right: 40px;
    }

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  .btn {
    display: none;

    @media screen and (min-width: 1024px) {
      display: block;
    }
  }
}

.logo {
  img {
    width: 100%;
  }
}

.burger {
  position: relative;
  top: 0;
  z-index: 3;
  width: 27px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: 34px;
  }

  @media screen and (min-width: 1024px) {
    display: none;
  }

  span {
    width: 27px;
    height: 3px;
    background-color: $dark;
    border-radius: 5px;
    transition: all 0.25s ease;
    position: relative;

    @media screen and (min-width: 768px) {
      width: 34px;
    }

    &:nth-child(1) {
      margin-bottom: 5px;

      @media screen and (min-width: 768px) {
        margin-bottom: 6px;
      }
    }

    &:nth-child(3) {
      margin-top: 5px;

      @media screen and (min-width: 768px) {
        margin-top: 6px;
      }
    }
  }

  &.active {
    span {
      &:nth-child(1) {
        top: 8px;
        transform: rotate(45deg);

        @media screen and (min-width: 768px) {
          top: 9px;
        }
      }

      &:nth-child(2) {
        transform: translateX(100px);
        opacity: 0;
      }

      &:nth-child(3) {
        bottom: 8px;
        transform: rotate(-45deg);

        @media screen and (min-width: 768px) {
          bottom: 9px;
        }
      }
    }
  }
}