.main-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: $text-color;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    font-size: 36px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 42px;
  }
  @media screen and (min-width: 1201px) {
    font-size: 48px;
    line-height: 1.08;
    margin-bottom: 80px;
  }
}

.section-title {
  font-weight: 700;
  line-height: 1.11;
  font-size: 18px;
  line-height: 1.2;
  color: $black;
  margin-bottom: 30px;

  &.center {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    font-size: 30px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 36px;
    line-height: 1.11;
  }
}
