.section-intro {
  padding-top: 40px;
  padding-bottom: 18px;
  background-image: radial-gradient(45.29% 76.99% at 70.07% 42.29%, #0EC0CE 0%, #008996 100%);

  @media (min-width: 1024px) {
    padding: 54px 0 53px;
  }

  .container {
    display: flex;
    align-items: center;
  }

  .main-title {
    width: 50%;
    color: $white;
    margin-bottom: 32px;
    font-weight: 500;

    @media screen and (min-width: 1024px) {
      font-size: 48px;
      margin-bottom: 60px;
      width: 56%;
    }
  }

  .intro-img {
    display: flex;
    justify-content: center;
    width: 50%;

    @media screen and (min-width: 1024px) {
      width: 44%;
    }

    img {
      width: 100%;
    }
  }

  .intro-arrow {
    display: flex;
    justify-content: center;
  }

  .scroll-link {
    animation-name: bounce;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0);
    }
  }
}