section.section-intro
	.container
		.intro-img
			img(src="images/ergo-main.png", alt="")
		h2.main-title Почему специалисты назначают Эргоферон?
		
		//- .intro-arrow
		//- 	a(href="#expert").scroll-link
		//- 		img(src="images/arr-dn.svg", alt="")
	