.about-section {
  padding: 40px 0 43px;
  background-color: $bg-about;

  @media screen and (min-width: 768px) {
    padding: 45px 0 85px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .main-title {
    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
    }
  }
}

.about-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: $text-color;
  align-self: center;
  max-width: 942px;
  width: 100%;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}