section.consumer-section
	.container
		h2.section-title Выбор специалистов и потребителей
		.consumer-wrap
			.consumer
				.consumer__wrap
					.consumer__img
						img(src="images/k1.png", alt="")
					p.consumer__text Препарат выбора для лечения простуды и гриппа по версии премии "Зеленый крест - 2019"
			.consumer
				.consumer__wrap
					.consumer__img
						img(src="images/k2.png", alt="")
					p.consumer__text Признан "Маркой №1 в России - 2019" в категории "Средство от простуды и гриппа"
			.consumer
				.consumer__wrap
					.consumer__img
						img(src="images/k3.png", alt="")
					p.consumer__text 2 место в номинации "Самый назначаемый препарат при лечении ОРВИ и гриппа" по версии Russian Pharma Awards 2018