.consumer-section {
	padding: 50px 0 10px;

	@media screen and (min-width: 768px) {
		padding: 68px 0 40px;
	}
}

.consumer-wrap {
	display: flex;
	flex-wrap: wrap;
	// margin: 0 -20px;
}

.consumer {
	width: 100%;
	margin-bottom: 40px;
	padding: 0 20px;
	@media screen and (min-width: 768px) {
		width: 33.33%;
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__img {
		display: flex;
		justify-content: center;
		margin-bottom: 32px;

		img {
			width: 100%;
		}
	}

	&__text {
		font-weight: 300;
		font-size: 16px;
		line-height: 1.5;
		text-align: center;
		color: #332F2F;
	}
}