.footer {
  padding: 30px 0 20px;
  border-top: 1px solid $bg-about;
  @media screen and (min-width: 1024px) {
    padding: 60px 0 30px 0;
  }

  .logo {
    margin-bottom: 30px;
    width: 217px;
  }

  .footer-logo {
    width: 121px;

    img {
      width: 100%;
    }
  }

  .nav {
    margin-bottom: 40px;

    &__title {
      font-weight: 700;
      font-size: 12px;
      line-height: 1.25;
      letter-spacing: 2.4px;
      color: $text-color;
      text-transform: uppercase;
      margin-bottom: 20px;
      display: block;

      @media screen and (min-width: 1024px) {
        margin-bottom: 28px;
      }
    }

    &__link {
      font-weight: 500;
      font-size: 14px;
      line-height: 2;
      color: $text-colorlight;

      &:hover {
        color: $hover-text;
      }
    }
  }


  .footer-nav {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }


  .btn {
    padding: 10px 20px;
    max-width: 195px;

    @media screen and (min-width: 768px) {
      margin: -13px 0 0;
    }
  }
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 620px;
  width: 100%;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}


.copyright {
  font-weight: 200;
  font-size: 12px;
  line-height: 1.14;
  color: $text-colorlight;
  margin-bottom: 20px;

  @media screen and (min-width: 450px) {
    padding-right: 30px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1024px) {
    font-size: 14px;
  }
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
  margin-bottom: 20px;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1024px) {
    margin-bottom: 16px;
    margin-top: 60px;
  }
}

.footer-instruction {
  padding-top: 20px;
  border-top: 1px solid rgba(151, 151, 151, 0.3);

  @media screen and (min-width: 1024px) {
    padding-top: 30px;
  }
}

.instruction {
  font-weight: 300;
  font-size: 13px;
  line-height: 1.05;
  color: $text-colorlight;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 18px;
    letter-spacing: 1.5px;
  }
  @media screen and (min-width: 11360px) {
    font-size: 21px;
  }

  a {
    color: $text-colorlight;
    border-bottom: 1px solid $text-colorlight;

    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
}