footer.footer
	.container
		.footer-nav
			a(href="#").logo
				img(src="images/logo.svg", alt="logo")
			.footer-content
				nav.nav 
					span.nav__title МЕНЮ
					ul.nav__list
						li.nav__item
							a(href="#").nav__link Инструкция
						li.nav__item
							a(href="#").nav__link Статьи
						li.nav__item
							a(href="#").nav__link Об эргоферон
						li.nav__item
							a(href="#").nav__link Специалистам
				nav.nav
					span.nav__title Горячая линия
					ul.nav__list
						li.nav__item
							a(href="#").nav__link +7 (495) 681-09-30
						li.nav__item
							a(href="#").nav__link +7 (495) 681-93-00

				button(type="button").btn.primary.js-open-form ЗАДАТЬ ВОПРОС

		.footer-info
			p.copyright © 2020 Все права защищены. ООО «НПФ «Материа Медика Холдинг» 129272, Москва, ул. Трифоновская, д. 47 , стр. 1, +7 (495) 276-15-71
			a(href="#").footer-logo
				img(src="images/logo2.svg", alt="")
				
	.footer-instruction 
		.container
			p.instruction ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. ПЕРЕД ПРИМЕНЕНИЕМ ОЗНАКОМЬТЕСЬ С 
				a(href="#") ИНСТРУКЦИЕЙ

include ../modal/modal