.accordion {
    margin: 0 -15px;

    @media screen and (min-width: 768px) {
        margin: 0;
    }

    h3 {
        position: relative;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.2;
        color: $black;
        padding: 20px 47px 20px 15px;
        border-bottom: 1px solid $bg-about;
        cursor: pointer;

        @media screen and (min-width: 1024px) {
            padding: 20px 28px;
            font-weight: 600;
            font-size: 24px;
            line-height: 1.25;
        }

        &.active {
            background-color: $card-bg;

            &:after {
                transform: translateY(-50%) rotate(180deg);
            }
        }

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            width: 20px;
            height: 20px;
            transition: all 0.3s ease;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath opacity='0.5' d='M17.834 7.60986L10.334 15.1099L2.83398 7.60986' stroke='%23979797' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='20' height='20' fill='white' transform='translate(0.333984 0.422363)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        }
    }

    h4 {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.4;
        color: $black;
        margin-bottom: 5px;
    }

    p {
        font-weight: 300;
        font-size: 14px;
        line-height: 1.7;
        color: $black;
        margin-bottom: 30px;
    }

    ul {
        margin-bottom: 30px;
    }

    li {
        font-weight: 300;
        font-size: 14px;
        line-height: 1.7;
        color: $black;
    }

    &__content {
        display: none;
        background: $card-bg;
        box-sizing: border-box;
        padding: 19px 15px 0px 15px;

        @media screen and (min-width: 1024px) {
            padding: 31px 23px 13px 30px;
        }
    }

    &__text-hole {
        font-weight: 300;
        font-size: 14px;
        line-height: 1.7;
        color: $black;
    }

}