section.section-product
	.container
		h2.section-title.center Механизм действия Эргоферона
		
		.product-video.js-video-open
			img(src="images/ba1.png", alt="")
			.video-btn

		.video-modal.js-video-modal
			span.js-video-close.video-close
			video(controls).video.js-video#video-one
				source(src="video/video.webm")
	