.section-product {
  padding: 40px 0;
  background-color: rgba(136, 212, 214, 0.2);

  @media (min-width: 1024px) {
    padding: 60px 0 83px;
  }

  .section-title {
    margin-bottom: 30px;
    color: #008996;
    font-weight: 500;

    @media (min-width: 768px) {
      margin-bottom: 42px;
    }

    @media (min-width: 1024px) {
      font-size: 40px;
    }
  }

  .product-video {
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    max-width: 748px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 0px 40px rgba(0, 151, 166, 0.3);

    &:hover {
      .video-btn {
        transform: translate(-50%, -50%) scale(1.1);
      }
    }

    .video-btn {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    img {
      width: 100%;
      display: block;
    }
  }
}

video {
  width: 75vw;
  height: auto;
  object-fit: cover;
  display: block;
}

.overlay-hide {
  opacity: 0;
  transition: all 0.3s ease;
}

.overlay-show {
  opacity: 1;
  transition: all 0.3s ease;
}

.video-btn {
  position: absolute;
  width: 80px;
  height: 80px;
  z-index: 1;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='121' height='120' viewBox='0 0 121 120' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Ccircle cx='60.5742' cy='50' r='40' fill='white'/%3E%3Cpath d='M48.334 68.5448L80.4475 49.9951L48.334 31.4556V68.5448Z' fill='%23008996'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0.574219' y='0' width='120' height='120' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='10'/%3E%3CfeGaussianBlur stdDeviation='10'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.video-mask {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  opacity: 0.5;
}

.video-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFF;
  z-index: 1002;
  overflow: visible;

  &.active {
    display: block;
  }
}

.video-close {
  cursor: pointer;
  color: #fff;
  border-radius: 3px;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
  position: absolute;
  right: -25px;
  top: -25px;
  z-index: 1002;
  opacity: 0.9;

  &:before {
    content: "×";
  }
}