.none-section {
  padding: 40px 0 40px;

  @media screen and (min-width: 768px) {
    padding: 80px 0 80px;
  }

  .main-title {
    text-align: center;
    margin-bottom: 34px;

    @media screen and (min-width: 768px) {
      margin-bottom: 64px;
    }
  }

  &__img {
    text-align: center;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      margin-bottom: 60px;
    }

    img {
      max-width: 100%;
    }
  }

  &__info {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    color: $black;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
      font-size: 16px;
    }
  }
}