.article-section {
  padding: 40px 0 0;

  @media screen and (min-width: 768px) {
    padding: 80px 0 0;
  }
}

.article-item {
  font-size: 14px;
  line-height: 1.6;
  color: $black;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
  }

  .article {
    border-bottom: none;
  }

  h1,
  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: $text-color;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      font-size: 36px;
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1024px) {
      font-size: 42px;
    }

    @media screen and (min-width: 1201px) {
      font-size: 48px;
      line-height: 1.08;
      margin-bottom: 80px;
    }
  }

  &__img {
    margin: 0 -15px 40px;

    @media screen and (min-width: 1024px) {
      margin: 0 -60px 80px;
    }

    @media screen and (min-width: 1024px) {
      margin-bottom: 80px;
    }

    img {
      width: 100%;
    }
  }

  &__content {
    @media screen and (min-width: 1024px) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    .article {
      display: none;

      @media screen and (min-width: 1024px) {
        display: block;
        flex: none;
        max-width: 393px;
      }
    }
  }

  &__wrap {
    width: 100%;

    @media screen and (min-width: 1024px) {
      max-width: calc(100% - 460px);

    }

    .article {
      margin: 0 auto 40px;
      display: block;
      max-width: 400px;
      width: 100%;

      @media screen and (min-width: 1024px) {
        display: none;
      }
    }
  }

  &__text,
  p {
    font-size: 14px;
    line-height: 1.6;
    color: $black;
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 300;
    }
  }

  &__title,
  h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    color: $text-color;
    margin-top: 20px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      font-size: 24px;
      line-height: 1.25;
      margin-top: 55px;
      margin-bottom: 30px;
    }
  }

  h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    color: $text-color;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      font-size: 20px;
      line-height: 1.25;
      margin-bottom: 30px;
    }
  }

  ul {
    margin-bottom: 30px;
    padding-left: 20px;

    li {
      font-size: 14px;
      line-height: 1.6;
      color: $black;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 8px;
        left: -14px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $black;

        @media screen and (min-width: 768px) {
          top: 9px;
        }
      }

      @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 300;
      }
    }
  }

  ol {
    margin-bottom: 30px;
    padding-left: 20px;
    counter-reset: my-awesome-counter;

    li {
      font-size: 14px;
      line-height: 1.6;
      color: $black;
      position: relative;
      counter-increment: my-awesome-counter;

      &:before {
        content: counter(my-awesome-counter) ". ";
        position: absolute;
        top: 0;
        left: -18px;
        color: $black;
        font-size: 14px;
        line-height: 1.6;

        @media screen and (min-width: 768px) {
          font-size: 16px;
          line-height: 1.5;
          font-weight: 300;
        }
      }

      @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 300;
      }
    }
  }

  a {
    font-size: 14px;
    line-height: 1.6;
    color: #93B6B7;
    margin-right: 5px;
    border-bottom: 1px solid #93B6B7;
    font-weight: 400;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.5;
    }

    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
}