.list-section {
    padding: 40px 0 58px;

    @media screen and (min-width: 768px) {
        padding: 80px 0 89px;
    }

    .articles-container {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px 27px;

        @media screen and (min-width: 768px) {
            margin: 0 -10px 40px;

        }
    }

    .article {
        width: 100%;
        padding: 0 10px;
        margin-bottom: 20px;

        @media screen and (min-width: 768px) {
            width: 50%;
        }

        @media screen and (min-width: 1024px) {
            width: 33.33%;
            height: 400px;
        }

        .article__name {
            @media screen and (min-width: 1024px) {
                font-size: 24px;
            }
        }

        &:nth-child(5),
        &:nth-child(9),
        &:nth-child(15),
        &:nth-child(19),
        &:nth-child(25),
        &:nth-child(29),
        &:nth-child(35),
        &:nth-child(39),
        &:nth-child(45),
        &:nth-child(49),
        &:nth-child(55),
        &:nth-child(59),
        &:nth-child(65),
        &:nth-child(69),
        &:nth-child(75),
        &:nth-child(79),
        &:nth-child(85),
        &:nth-child(89),
        &:nth-child(95),
        &:nth-child(99),
        &:nth-child(105),
        &:nth-child(109),
        &:nth-child(115),
        &:nth-child(119),
        &:nth-child(125) {
            @media screen and (min-width: 1024px) {
                width: 66.66%;
            }
        }
    }
}