.description-content {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        justify-content: center;
    }
}

.description-info {
    max-width: 747px;
    width: 100%;
    margin-bottom: 50px;

    @media screen and (min-width: 1024px) {
        margin: 0 35px 0 0;
    }
}

.description-img {
    max-width: 355px;
    width: 100%;
    height: auto;

    img {
        width: 100%;
        height: 100%;
    }
}

.award-wrap {
    display: flex;
    margin: 0 -10px;

    @media screen and (min-width: 1024px) {
        flex-direction: column;
    }
}

.award {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    padding: 0 10px;

    @media screen and (min-width: 1024px) {
        max-width: 355px;
        width: 100%;
    }

    &__img {
        width: 135px;
        display: flex;
        align-items: flex-end;
        margin: 0 0 20px;
        min-height: 225px;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__info {
        font-size: 14px;
        line-height: 143%;
        text-align: center;
        color: $text-color;
    }
}

.decree-wrap {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    @media screen and (min-width: 1024px) {
        margin-top: 60px;
    }
}

.decree {
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4;
    color: $text-colorlight;

    @media screen and (min-width: 768px) {
        font-size: 14px;
        margin-bottom: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}