.tabs-section {
  padding: 40px 0 72px;
  border-bottom: 1px solid $card-bg;
  @media screen and (min-width: 1024px) {
    padding: 100px 0 80px;
  }

  .container {
    max-width: 730px;
  }

  .instruction-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: $black;
    @media screen and (min-width: 1024px) {
      font-weight: 600;
      font-size: 24px;
      line-height: 1.5;
    }
  }

  .drug-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    color: $black;
    padding-bottom: 40px;
    padding-left: 24px;
    @media screen and (min-width: 1024px) {
      font-weight: 700;
      font-size: 48px;
      line-height: 1.04;
      padding-bottom: 80px;
      padding-left: 0;
    }

    span {
      visibility: hidden;
      @media screen and (min-width: 1024px) {
        font-size: 25px;
        visibility: visible;
      }
    }
  }

  .instruction-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: $text-color;
    max-width: 590px;
    margin: 0 auto;
    padding-bottom: 56px;
  }
}
