.action-section {
  padding: 40px 0 10px;
  background: #DEE6E8;

  @media screen and (min-width: 1024px) {
    padding: 80px 0 60px;
  }

  .section-title {
    text-align: center;
    margin: 0 0 40px;
    @media screen and (min-width: 768px) {
      text-align: left;
      margin-bottom: 36px;
    }
  }
}
.action-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 10px;

  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
}
.action {
  width: 100%;
  padding: 0 10px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 50%;
  }

  @media screen and (min-width: 1024px) {
    width: 33.33%;
  }

  &__wrap {
    min-height: 290px;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      padding: 25px;
    }
  }

  &__img {
    min-height: 130px;
    align-items: center;
    display: flex;
    margin: 0 auto 20px;
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: $text-color;
    margin: 0 0 27px;

    @media screen and (min-width: 768px) {
      font-size: 22px;
      line-height: 1.27;
      margin: 0 0 27px;
    }
  }

  li {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    color: $text-color;
    margin: 0 0 15px;
    padding-left: 20px;
    position: relative;
    
    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.5;
    }

    &:before {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $point-bg;
      top: 10px;
      left: 0;
    }
  }
  
  &__list {
    max-width: 100%;
    margin: 0 auto;
  }
}
