.section-resume {
  padding: 60px 0;
  background-color: $white;

  @media screen and (min-width: 1024px) {
    padding: 80px 0 50px;
  }

  &.bg {
    background-color: rgba(136, 212, 214, 0.2);
  }

  .section-title {
    font-weight: 500;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1024px) {
      margin-bottom: 60px;
      font-size: 40px;
    }
  }
}

.media-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -18px;
}

.media {
  width: 100%;
  padding: 0 18px;
  margin-bottom: 30px;
  position: relative;

  @media screen and (min-width: 768px) {
    width: 50%;
    min-height: 320px;
  }

  // video {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   z-index: 1;
  // }

  .video-btn {
    top: 5px;
    right: 0px;
    width: 60px;
    height: 60px;
    z-index: 3;

    @media screen and (min-width: 768px) {
      top: 15px;
      right: 10px;
    }
  }

  &__wrap {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;


    &:hover {
      .video-btn {
        transform: scale(1.1);
      }
    }

    @media screen and (min-width: 768px) {
      min-height: 320px;
      height: 320px;
    }
  }

  &__content {
    height: 100%;
    position: relative;
    z-index: 2;
    padding: 20px 50px 20px 20px;
    background-image: radial-gradient(101.27% 174.06% at 100% 0%, #0EC0CE 0%, #008996 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media screen and (min-width: 768px) {
      padding: 20px 70px 20px 25px;
    }

    @media screen and (min-width: 1024px) {
      padding: 20px 100px 20px 25px;
    }
  }

  &__descr {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: #332F2F;
    margin-top: 30px;
  }
}

.doctor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
      margin-bottom: 79px;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
  }

  &__img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    flex: none;

    @media screen and (min-width: 768px) {
      width: 100px;
      height: 100px;
      margin-right: 20px;
    }

    img {
      width: 100%;
    }
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    color: #FFFFFF;

    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }

  &__prof {
    font-weight: 300;
    font-size: 13px;
    line-height: 1;
    color: #FFFFFF;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }

  &__footer {
    margin-top: auto;
  }

  &__info {
    font-weight: 300;
    font-size: 13px;
    line-height: 1;
    color: #FFFFFF;
    margin-bottom: 5px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;

    @media screen and (min-width: 768px) {
      font-size: 22px;
    }
  }
}

.doctor-hide {
  display: none;
}

.doctor-show {
  display: block;
}