section.section-resume
	.container
		h2.section-title.center Место Эргоферона в лечении ОРВИ и гриппа
		.media-wrap
			.media
				.media__wrap.js-video-open
					.video-btn
					.media__content
						.doctor
							.doctor__header
								.doctor__img
									img(src="images/sa1.png", alt="")
								.doctor__data
									h3.doctor__name Татьяна Александровна Чеботарева
									span.doctor__prof Профессор
							.doctor__footer
								p.doctor__info Конгресс педиатров России
								p.doctor__text Терапия ОРВИ и гриппа с позиции доказательной медицины
				.video-modal.js-video-modal
					span.js-video-close.video-close
					video(controls).video.js-video#video-two
						source(src="video/video.webm")

			.media
				.media__wrap.js-video-open
					.video-btn
					.media__content
						.doctor
							.doctor__header
								.doctor__img
									img(src="images/sa2.png", alt="")
								.doctor__data
									h3.doctor__name Владимир Владимирович Никифоров
									span.doctor__prof Профессор
							.doctor__footer
								p.doctor__info Конгресс педиатров России
								p.doctor__text Инициатива ВОЗ по борьбе с ОРВИ
				.video-modal.js-video-modal
					span.js-video-close.video-close
					video(controls).video.js-video#video-three
						source(src="video/video.webm")

section.section-resume.bg
	.container
		h2.section-title.center Обзор терапевтических средств для лечения вирусной инфекции и гриппа
		.media-wrap
			.media
				.media__wrap.js-video-open
					.video-btn
					.media__content(style="background-image: url('images/prev4.png');")
						.doctor
							.doctor__footer
								p.doctor__text Обзор терапевтических средств для лечения респираторно-синцитальной вирусной инфекции и гриппа у детей, находящиеся на стадии клинических исследований 
				p.media__descr В 2018 году в журнале «Clinical Therapeutics» была опубликована статья американских ученых Nicholson E.G. и Munoz F.M. Исследователи с кафедры педиатрии и молекулярной вирусологии и микробиологии Медицинского колледжа Бейлор в Хьюстоне, штат Техас, представили обзор средств для лечения респираторно-синцитиальной вирусной инфекции и гриппа у детей. В статье проанализированы как уже зарегистрированные препараты, так и находящиеся на стадии клинических исследований, которые можно использовать в педиатрии.
			
				.video-modal.js-video-modal
					span.js-video-close.video-close
					video(controls).video.js-video#video-four
						source(src="video/video.webm")
		
			.media
				.media__wrap.js-video-open
					.video-btn
					.media__content(style="background-image: url('images/prev4.png');")
						.doctor
							.doctor__footer
								p.doctor__text Современные и инновационные подходы к управлению гриппом
				p.media__descr В июльском номере журнала «Vaccines» в 2019 году был опубликован обзор британских ученых из Института Пирбрайта, Сюррей, Англия и Эдинбургского университета Шотландии. Обзор посвящен уже существующим и находящимся на стадии клинических исследований вакцинам против гриппа и препаратам для лечения этого заболевания.
				
				.video-modal.js-video-modal
					span.js-video-close.video-close
					video(controls).video.js-video#video-five
						source(src="video/video.webm")